@font-face { font-family: 'Conv_regular'; src: url("../files/fonts/regular.eot"); src: local("☺"), url("../files/fonts/regular.woff") format("woff"), url("../files/fonts/regular.ttf") format("truetype"), url("../files/fonts/regular.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Conv_bold'; src: url("../files/fonts/bold.eot"); src: local("☺"), url("../files/fonts/bold.woff") format("woff"), url("../files/fonts/bold.ttf") format("truetype"), url("../files/fonts/bold.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Conv_italic'; src: url("../files/fonts/italic.eot"); src: local("☺"), url("../files/fonts/italic.woff") format("woff"), url("../files/fonts/italic.ttf") format("truetype"), url("../files/fonts/italic.svg") format("svg"); font-weight: normal; font-style: normal; }

.toolbar:after, .search-list li:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset { border: none; }

input[type="submit"], button { cursor: pointer; }

input[type='submit']::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

table { border-spacing: 0; border-collapse: collapse; }

* { -webkit-text-size-adjust: none; }

/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body { position: relative; min-width: 1024px; width: 100%; color: #474747; font-weight: normal; font-style: normal; font-family: 'Conv_regular', sans-serif; font-size: 16px; line-height: 1.2; }

.is-withsidebar .l-sidebar { left: 0 !important; }
.is-withsidebar .overlay { display: none !important; }

a { color: #00919e; }
a:hover { text-decoration: none; }

/* ------------------------------------ //END Main styles --------------------------------------- */
/* ------------------------------------- Independent blocks -------------------------------------- */
.logo { display: block; margin: 20px auto 0; background: url('../i/icons-sb7a2624609.png') 0 0 no-repeat; width: 161px; height: 20px; }

.logo-mini { display: block; margin: 0 auto 31px; background: url('../i/icons-sb7a2624609.png') 0 -30px no-repeat; width: 25px; height: 21px; }

.show-nav { display: block; margin: 0 auto; background: url('../i/icons-sb7a2624609.png') 0 -443px no-repeat; width: 21px; height: 16px; }
.show-nav:hover { background: url('../i/icons-sb7a2624609.png') 0 -417px no-repeat; width: 21px; height: 16px; }

.nav { margin: 14px 0; padding: 0 10px; border-top: 1px solid #474e53; }
.nav li { position: relative; height: 24px; line-height: 24px; }
.nav .is-active { margin: 0 -19px; background: #474e53; }
.nav .is-active a { padding: 0 19px; font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; color: #fff; }
.nav .is-new.is-active:before { left: 5px; }
.nav .is-new:before { content: ""; position: absolute; left: -14px; top: 50%; margin-top: -3px; width: 6px; height: 6px; background: #f80; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.nav .is-media i { background: url('../i/icons-sb7a2624609.png') 0 -469px no-repeat; width: 12px; height: 10px; }
.nav .is-rate i { background: url('../i/icons-sb7a2624609.png') 0 -715px no-repeat; width: 12px; height: 10px; }
.nav a { display: block; font-size: 14px; color: #edeef0; text-decoration: none; }
.nav span { display: inline-block; line-height: 1; }
.nav i { display: inline-block; margin-left: 5px; }
.nav b { float: right; font-size: 12px; color: #858f97; font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; }

.nav__title { display: block; float: none; margin: 17px 0 11px; font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; font-size: 10px; color: #858f97; text-transform: uppercase; }

/* ---------------------------------- //END Independent blocks ----------------------------------- */
.toolbar { padding: 10px; }

.search { position: relative; float: left; margin-right: 20px; width: 66%; }
.search input[type="submit"] { display: none; }
.search input[type="text"] { padding: 0 30px 0 10px; height: 30px; width: 100%; font-weight: normal; font-style: normal; font-family: 'Conv_regular', sans-serif; font-size: 16px; border: 1px  solid #ccc; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.search input[type="text"].placeholder { color: #999999; font: normal 14px Conv_regular; }
.search input[type="text"]:-moz-placeholder { color: #999999; font: normal 14px Conv_regular; }
.search input[type="text"]::-webkit-input-placeholder { color: #999999; font: normal 14px Conv_regular; }
.search button { position: absolute; right: 1px; top: 1px; background: none; width: 26px; height: 28px; text-align: center; }
.search button i { display: inline-block; vertical-align: middle; background: url('../i/icons-sb7a2624609.png') 0 -515px no-repeat; width: 8px; height: 4px; }

.search_mod { float: right; margin: 0; width: 46%; }

.search-list { display: none; position: absolute; top: 31px; left: 0; z-index: 1000; padding: 8px 10px; width: 100%; border: 1px  solid #b9b9b9; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); background: #fff; }
.search-list li { padding: 9px 0 10px; border-top: 1px solid #dcdcdc; }
.search-list li:first-child { border-top: #000; }
.search-list a { color: #00659b; font-size: 14px; text-decoration: none; }

.search-list__img { float: left; margin-right: 8px; width: 32px; text-align: center; }

.search-list__text { overflow: hidden; }
.search-list__text span { display: block; color: #999; font-size: 12px; }

.options { float: left; }
.options .icon { vertical-align: middle; }

.lightning { position: relative; float: left; }
.lightning:hover .tooltip { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.lightning .btn-opt:hover i { position: relative; top: -1px; background: url('../i/icons-sb7a2624609.png') 0 -243px no-repeat; width: 12px; height: 17px; }
.lightning .btn-opt i { display: inline-block; vertical-align: middle; background: url('../i/icons-sb7a2624609.png') 0 -216px no-repeat; width: 12px; height: 17px; }
.lightning .tooltip { position: absolute; left: 50%; margin-left: -75px; top: 38px; width: 150px; }

.view { position: relative; float: left; margin-left: 10px; }
.view:hover .view__icon { background: url('../i/icons-sb7a2624609.png') 0 -529px no-repeat; width: 8px; height: 4px; }
.view:hover button .icon_sort1 { background: url('../i/icons-sb7a2624609.png') 0 -691px no-repeat; width: 16px; height: 14px; }
.view:hover button .icon_sort2 { background: url('../i/icons-sb7a2624609.png') 0 -619px no-repeat; width: 16px; height: 14px; }
.view:hover button .icon_sort3 { background: url('../i/icons-sb7a2624609.png') 0 -735px no-repeat; width: 16px; height: 14px; }
.view i { vertical-align: middle; }
.view .icon { position: relative; top: -2px; }
.view .drop-list { left: 0; top: 32px; }
.view .drop-list li:hover .icon_sort1 { background: url('../i/icons-sb7a2624609.png') 0 -691px no-repeat; width: 16px; height: 14px; }
.view .drop-list li:hover .icon_sort2 { background: url('../i/icons-sb7a2624609.png') 0 -619px no-repeat; width: 16px; height: 14px; }
.view .drop-list li:hover .icon_sort3 { background: url('../i/icons-sb7a2624609.png') 0 -735px no-repeat; width: 16px; height: 14px; }
.view .is-active { border: 1px solid #a3aaac; -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); }

.view__icon { display: inline-block; background: url('../i/icons-sb7a2624609.png') 0 -515px no-repeat; width: 8px; height: 4px; }

.icon { display: inline-block; }

.icon_sort1 { background: url('../i/icons-sb7a2624609.png') 0 -643px no-repeat; width: 16px; height: 14px; }
.icon_sort1:hover { background: url('../i/icons-sb7a2624609.png') 0 -691px no-repeat; width: 16px; height: 14px; }

.icon_sort2 { background: url('../i/icons-sb7a2624609.png') 0 -595px no-repeat; width: 16px; height: 14px; }
.icon_sort2:hover { background: url('../i/icons-sb7a2624609.png') 0 -619px no-repeat; width: 16px; height: 14px; }

.icon_sort3 { background: url('../i/icons-sb7a2624609.png') 0 -667px no-repeat; width: 16px; height: 14px; }
.icon_sort3:hover { background: url('../i/icons-sb7a2624609.png') 0 -735px no-repeat; width: 16px; height: 14px; }

.icon_glass { background: url('../i/icons-sb7a2624609.png') 0 -61px no-repeat; width: 16px; height: 16px; }

.icon_point { background: url('../i/icons-sb7a2624609.png') 0 -112px no-repeat; width: 17px; height: 21px; }

.icon_all { background: url('../i/icons-sb7a2624609.png') 0 -87px no-repeat; width: 18px; height: 15px; }

.icon_star { background: url('../i/icons-sb7a2624609.png') 0 -270px no-repeat; width: 17px; height: 16px; }
.icon_star:hover { background: url('../i/icons-sb7a2624609.png') 0 -349px no-repeat; width: 17px; height: 16px; }

.icon_print { background: url('../i/icons-sb7a2624609.png') 0 -543px no-repeat; width: 17px; height: 16px; }
.icon_print:hover { background: url('../i/icons-sb7a2624609.png') 0 -569px no-repeat; width: 17px; height: 16px; }

.icon_downl { background: url('../i/icons-sb7a2624609.png') 0 -391px no-repeat; width: 17px; height: 16px; }
.icon_downl:hover { background: url('../i/icons-sb7a2624609.png') 0 -489px no-repeat; width: 17px; height: 16px; }

.icon_email { background: url('../i/icons-sb7a2624609.png') 0 -166px no-repeat; width: 17px; height: 16px; }
.icon_email:hover { background: url('../i/icons-sb7a2624609.png') 0 -323px no-repeat; width: 17px; height: 16px; }

.btn-opt { display: block; width: 50px; height: 30px; border: 1px solid #c3ccce; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #ebebeb; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZWFlZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjdmYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e6eaed), color-stop(100%, #f5f7fa)); background-image: -webkit-linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); background-image: -moz-linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); background-image: -o-linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); background-image: -ms-linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); background-image: linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); }
.btn-opt:hover { border: 1px solid #a3aaac; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
.btn-opt:active { -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); }

.tooltip { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: absolute; z-index: 1000; padding: 8px 10px; font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; color: #edeef0; font-size: 12px; background: #2f373d; background: rgba(47, 55, 61, 0.8); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.tooltip:before { content: ""; position: absolute; left: 50%; top: -6px; margin-left: -6px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; background: url('../i/icons-sb7a2624609.png') 0 -375px no-repeat; width: 12px; height: 6px; }

.drop-list { display: none; position: absolute; z-index: 1000; width: 180px; background: #fff; border: 1px solid #b9b9b9; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
.drop-list li { padding: 10px 5px 9px 9px; color: #666; height: 40px; cursor: pointer; font-size: 14px; border-top: 1px solid #b9b9b9; -moz-user-select: none; -webkit-user-select: none; user-select: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.drop-list li:first-child { border-top: 0; }
.drop-list li:hover { color: #000; font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; }
.drop-list .icon { margin-right: 17px; }

.check { position: relative; display: inline-block; width: 14px; height: 14px; }
.check input, .check span { position: absolute; left: 0; top: 0; width: 14px; height: 14px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.check span { background: #fff; border: 1px solid #ccc; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.check input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; z-index: 2; }
.check i { display: none; position: absolute; top: -3px; right: -3px; background: url('../i/icons-sb7a2624609.png') 0 -143px no-repeat; width: 14px; height: 13px; }
.check .is-checked { border-color: #4094d4; }
.check .is-checked i { display: block; }

/* ----------------------------------------- Footer ---------------------------------------------- */
.footer { position: relative; height: 120px; }

/* -------------------------------------- //END Footer ------------------------------------------- */
