@font-face { font-family: 'Conv_regular'; src: url("../files/fonts/regular.eot"); src: local("☺"), url("../files/fonts/regular.woff") format("woff"), url("../files/fonts/regular.ttf") format("truetype"), url("../files/fonts/regular.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Conv_bold'; src: url("../files/fonts/bold.eot"); src: local("☺"), url("../files/fonts/bold.woff") format("woff"), url("../files/fonts/bold.ttf") format("truetype"), url("../files/fonts/bold.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Conv_italic'; src: url("../files/fonts/italic.eot"); src: local("☺"), url("../files/fonts/italic.woff") format("woff"), url("../files/fonts/italic.ttf") format("truetype"), url("../files/fonts/italic.svg") format("svg"); font-weight: normal; font-style: normal; }

.news li:after, .main-head:after, .info-item__title:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.news-top { border-bottom: 1px solid #e7e7e7; }
.news-top div { padding: 4px 10px; width: 100%; background: #f3f3f3; border-right: 1px solid #e7e7e7; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.news-top span, .news-top .check { vertical-align: middle; }

.news-top__fixed { right: 17px; left: 0; }

.news-top__position-top { position: absolute; z-index: 2; top: 0 !important; }

.news-top__position-bottom { position: static; }

.news-top__date { color: #404040; font-size: 10px; font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; text-transform: uppercase; }

.news { border-right: 1px solid #e7e7e7; }
.news li { padding: 17px 5px 19px 10px; border-bottom: 1px solid #e7e7e7; }
.news .check { float: left; margin-right: 16px; }
.news .is-important { position: relative; }
.news .is-important:before { content: ""; position: absolute; right: 5px; top: 5px; background: url('../i/icons-sb7a2624609.png') 0 -296px no-repeat; width: 12px; height: 17px; }
.news .is-important a { color: #f15c30; }
.news .is-selected { background: #fffef0; }
.news .is-read { color: #999; }
.news .is-read a { color: #999; }

.news_headers-only .news__title { display: inline; }
.news_headers-only .news__meta { position: relative; top: -2px; }

.news__cont { overflow: hidden; color: #333; font-size: 12px; }
.news__cont p { margin-bottom: 5px; }

.news__title { position: relative; top: -2px; line-height: 1; margin-bottom: 4px; }
.news__title a { color: #00659b; font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; font-size: 16px; text-decoration: none; }

.news__meta { color: #999; font-size: 12px; }

.news__date { font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; }

.main-head { position: relative; margin-top: 30px; color: #000; }
.main-head span { display: block; margin-bottom: -3px; font-size: 10px; text-transform: uppercase; }

.main-head__title { margin-bottom: 25px; font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; font-size: 30px; }

.main { background: #f2f2f2; }
.main .scroller__container { padding: 0 30px; }
.main .scroller__bar { right: 13px; }

.set-link { position: absolute; top: 29px; right: 30px; background: url('../i/icons-sb7a2624609.png') 0 -192px no-repeat; width: 14px; height: 14px; }

.info-item { margin-bottom: 30px; border: 1px solid #c0c2c4; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; overflow: hidden; }
.info-item img { display: block; height: auto; width: 100%; }

.info-item__title { margin: 0 10px 15px; padding: 12px 0; font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; border-bottom: 1px solid #e7e7e7; }
.info-item__title span { float: left; font-size: 10px; text-transform: uppercase; }
.info-item__title a { float: right; font-size: 12px; color: #00659b; text-decoration: none; }

.info-item__cont { padding: 0 20px; }

.trand { padding-top: 12px; }
.trand li { margin-bottom: 25px; }

.trand__title { display: block; margin-bottom: 7px; color: #404040; font-size: 14px; }

.trand__rate { position: relative; display: block; height: 3px; background: #f2f2f2; }
.trand__rate span { position: absolute; left: 0; top: 0; height: 3px; background: #00659b; }
