@font-face { font-family: 'Conv_regular'; src: url("../files/fonts/regular.eot"); src: local("☺"), url("../files/fonts/regular.woff") format("woff"), url("../files/fonts/regular.ttf") format("truetype"), url("../files/fonts/regular.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Conv_bold'; src: url("../files/fonts/bold.eot"); src: local("☺"), url("../files/fonts/bold.woff") format("woff"), url("../files/fonts/bold.ttf") format("truetype"), url("../files/fonts/bold.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Conv_italic'; src: url("../files/fonts/italic.eot"); src: local("☺"), url("../files/fonts/italic.woff") format("woff"), url("../files/fonts/italic.ttf") format("truetype"), url("../files/fonts/italic.svg") format("svg"); font-weight: normal; font-style: normal; }

.news li:after, .main__header:after, .info-item__title:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.news-top { padding: 4px 10px; background: #f3f3f3; border-bottom: 1px solid #e7e7e7; }
.news-top span, .news-top .check { vertical-align: middle; }

.news-top__date { color: #404040; font-size: 10px; font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; text-transform: uppercase; }

.news { border-right: 1px solid #e7e7e7; }
.news li { padding: 17px 5px 19px 10px; border-bottom: 1px solid #e7e7e7; }
.news .check { float: left; margin-right: 16px; }
.news .is-important { position: relative; }
.news .is-important:before { content: ""; position: absolute; right: 5px; top: 5px; background: url('../i/icons-s35fa33be3d.png') 0 -131px no-repeat; width: 12px; height: 17px; }
.news .is-important a { color: #f15c30; }
.news .is-selected { background: #fffef0; }
.news .is-read { color: #999; }
.news .is-read a { color: #999; }

.news__cont { overflow: hidden; color: #333; font-size: 12px; }
.news__cont p { margin-bottom: 5px; }

.news__title { position: relative; top: -2px; line-height: 1; margin-bottom: 4px; }
.news__title a { color: #00659b; font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; font-size: 16px; text-decoration: none; }

.news__meta { color: #999; font-size: 12px; }

.news__date { font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; }

.scroll-wrap { position: relative; overflow: hidden; height: 90%; }

.scroll { height: 100%; overflow-y: scroll; }

.scroll__container { overflow: hidden; padding-right: 15px; }

.scroll__bar { position: absolute; z-index: 1; top: 10px; bottom: 10px; right: 10px; }
.scroll__bar span { position: absolute; z-index: 1; width: 6px; display: block; min-height: 50px; border-radius: 3px; background: #2f363c; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); opacity: 0.3; -webkit-transition: width 0.2s linear; -moz-transition: width 0.2s linear; -ms-transition: width 0.2s linear; -o-transition: width 0.2s linear; transition: width 0.2s linear; }

.l-col-right .scroll__container { overflow: hidden; padding: 0 30px; }
.l-col-right .scroll__bar { right: 18px; }

.main { padding: 10px 0; background: #f2f2f2; }

.main__header { position: relative; color: #000; }
.main__header span { font-size: 10px; text-transform: uppercase; }

.set-link { position: absolute; top: 8px; right: 0; background: url('../i/icons-s35fa33be3d.png') 0 -53px no-repeat; width: 14px; height: 14px; }

.main__title { margin-bottom: 25px; font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; font-size: 30px; }

.info-item { margin-bottom: 30px; border: 1px solid #c0c2c4; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; overflow: hidden; }
.info-item img { display: block; height: auto; width: 100%; }

.info-item__title { margin: 0 10px 15px; padding: 12px 0; font-weight: normal; font-style: normal; font-family: 'Conv_bold', sans-serif; border-bottom: 1px solid #e7e7e7; }
.info-item__title span { float: left; font-size: 10px; text-transform: uppercase; }
.info-item__title a { float: right; font-size: 12px; text-decoration: none; }

.info-item__cont { padding: 0 20px; }

.trand { padding-top: 12px; }
.trand li { margin-bottom: 25px; }

.trand__title { display: block; margin-bottom: 7px; color: #404040; font-size: 14px; }

.trand__rate { position: relative; display: block; height: 3px; background: #f2f2f2; }
.trand__rate span { position: absolute; left: 0; top: 0; height: 3px; background: #00659b; }
