@font-face { font-family: 'PT Sans regular'; src: url("../files/fonts/pts55f_w.eot"); src: local("PT Sans"), url("../files/fonts/PTS55F_W.woff") format("woff"), url("../files/fonts/PTS55F_W.ttf") format("truetype"), url("../files/fonts/PTS55F_W.svg#PTSans-Regular") format("svg"); }

@font-face { font-family: 'PT Sans italic'; font-style: italic; src: url("../files/fonts/pts56f_w.eot"); src: local("PT Sans Italic"), url("../files/fonts/PTS56F_W.woff") format("woff"), url("../files/fonts/PTS56F_W.ttf") format("truetype"), url("../files/fonts/PTS56F_W.svg#PTSans-Italic") format("svg"); }

@font-face { font-family: 'PT Sans bold'; src: url("../files/fonts/pts75f_w.eot"); font-style: normal; font-weight: bold; src: local("PT Sans Bold"), url("../files/fonts/PTS75F_W.woff") format("woff"), url("../files/fonts/PTS75F_W.ttf") format("truetype"), url("../files/fonts/PTS75F_W.svg#PTSans-Bold") format("svg"); }

.wrap:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.is-withsidebar .l-sidebar { left: 0 !important; }
.is-withsidebar .overlay { display: none !important; }

.is-withwall .l-layout { right: 210px; }

.l-wrapper { overflow: hidden; left: 0; right: 0; }

.l-layout { position: absolute; left: 210px; right: 0; }
@media only screen and (max-width: 1024px) { .l-layout { left: 50px; right: 0 !important; } }

.l-wrapper, .l-layout, .l-sidebar, .l-col-left, .l-col-right, .l-wall-news { position: absolute; top: 0; bottom: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.l-sidebar { width: 210px; z-index: 1; background: #2f373d; }
@media only screen and (max-width: 1024px) { .l-sidebar { left: -210px; } }
.l-sidebar .scroller__bar { right: 4px; }
.l-sidebar .scroller__bar span { background: #858f97; }
.l-sidebar .scroller__container { padding: 0 11px 0 6px; }

.sidebar-mini { position: absolute; top: 0; left: -50px; bottom: 0; z-index: 2000; padding-top: 15px; width: 50px; background: #2f373d; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
@media only screen and (max-width: 1024px) { .sidebar-mini { left: 210px; } }
.sidebar-mini .is-new { position: relative; }
.sidebar-mini .is-new:after { content: ""; position: absolute; right: -5px; top: -5px; width: 10px; height: 10px; background: #f80; border: 2px solid #2f373d; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.l-col-left { left: 0; width: 42%; z-index: 2; }
.l-col-left:hover { z-index: 3; }
.l-col-left .scroller-wrap { position: absolute; top: 50px; bottom: 0; left: 0; right: 0; height: auto; border-top: 1px solid #e7e7e7; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.l-col-left .scroller__container { padding: 0 14px 0 0; }

.l-col-right { right: 0; z-index: 2; width: 58%; background: #f2f2f2; }
.l-col-right:hover { z-index: 3; }
.l-col-right .main { height: 94%; }
.l-col-right .content { background: #fff; border-right: 1px solid #cfcfcf; }
.l-col-right .content .scroller__bar { top: 55px; }
.l-col-right .content .scroller__container { margin-right: 15px; border-right: 1px solid #cfcfcf; }

.drag { position: absolute; top: 0; left: 0; right: 0; bottom: 0; padding: 0 330px; }
.drag span { position: absolute; top: 0; left: 40%; bottom: 0; z-index: 4; width: 9px; cursor: move; background: #fff; border-left: 1px solid #cfcfcf; border-right: 1px solid #cfcfcf; }
.drag span:before, .drag span:after { content: ""; position: absolute; top: 50%; margin-top: -6px; width: 1px; height: 12px; background: #c0c2c4; }
.drag span:before { left: 3px; }
.drag span:after { right: 3px; }

.l-wall-news { right: -210px; z-index: 3; width: 210px; background: #2f373d; -webkit-transition: left, 0.5s ease-in-out; -moz-transition: left, 0.5s ease-in-out; -ms-transition: left, 0.5s ease-in-out; -o-transition: left, 0.5s ease-in-out; transition: left, 0.5s ease-in-out; }
@media only screen and (max-width: 1024px) { .l-wall-news { right: -210px !important; } }
.l-wall-news .scroller-wrap { height: 96%; }
.l-wall-news .scroller__container { padding-right: 16px; }
.l-wall-news .scroller__bar span { background: #858f97; }

.l-wall-news.is-active { right: 0; }

.overlay, .toolbar__overlay { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1000; background: #000; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

.toolbar__overlay { background: none; }

.wrapper { overflow: hidden; }

.scroller-wrap { position: relative; overflow: hidden; height: 100%; }

.scroller { height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; }

.scroller::-webkit-scrollbar { width: 0; }

.scroller::-moz-scrollbar { width: 0; }

.scroller::scrollbar { width: 0; }

.scroller__bar { position: absolute; z-index: 1; top: 4px; bottom: 10px; right: 4px; width: 6px; }
.scroller__bar span { position: absolute; z-index: 1; display: none; width: 6px; min-height: 50px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #2f363c; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); opacity: 0.3; -webkit-transition: width 0.2s linear; -moz-transition: width 0.2s linear; -ms-transition: width 0.2s linear; -o-transition: width 0.2s linear; transition: width 0.2s linear; }
.scroller__bar span:hover { opacity: .8; }

.baron .scroller__bar span { display: block; }

.scroller__container { overflow: hidden; }
