@font-face { font-family: 'PT Sans regular'; src: url("../files/fonts/pts55f_w.eot"); src: local("PT Sans"), url("../files/fonts/PTS55F_W.woff") format("woff"), url("../files/fonts/PTS55F_W.ttf") format("truetype"), url("../files/fonts/PTS55F_W.svg#PTSans-Regular") format("svg"); }

@font-face { font-family: 'PT Sans italic'; font-style: italic; src: url("../files/fonts/pts56f_w.eot"); src: local("PT Sans Italic"), url("../files/fonts/PTS56F_W.woff") format("woff"), url("../files/fonts/PTS56F_W.ttf") format("truetype"), url("../files/fonts/PTS56F_W.svg#PTSans-Italic") format("svg"); }

@font-face { font-family: 'PT Sans bold'; src: url("../files/fonts/pts75f_w.eot"); font-style: normal; font-weight: bold; src: local("PT Sans Bold"), url("../files/fonts/PTS75F_W.woff") format("woff"), url("../files/fonts/PTS75F_W.ttf") format("truetype"), url("../files/fonts/PTS75F_W.svg#PTSans-Bold") format("svg"); }

.search-list li:after, .wrap:after, .news li:after, .main-head:after, .info-item__title:after, .article-nav:after, .article-nav__media div:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset { border: none; }

input[type="submit"], button { cursor: pointer; }

input[type='submit']::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

table { border-spacing: 0; border-collapse: collapse; }

* { -webkit-text-size-adjust: none; }

/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body { position: relative; min-width: 1000px; width: 100%; color: #404040; font-weight: normal; font-style: normal; font-family: 'PT Sans regular', sans-serif; font-size: 16px; line-height: 1.2; }
body ::-webkit-selection { background: #c2cedd; }
body ::selection { background: #c2cedd; }

a { color: #00919e; }
a:hover { text-decoration: none; }

/* ------------------------------------ //END Main styles --------------------------------------- */
/* ------------------------------------- Independent blocks -------------------------------------- */
.logo { display: block; margin: 15px auto 0; background: url('../i/icons-sf64ca3ee35.png') 0 0 no-repeat; width: 161px; height: 20px; }

.logo-mini { display: block; margin: 0 auto 31px; background: url('../i/icons-sf64ca3ee35.png') 0 -72px no-repeat; width: 25px; height: 21px; }

.show-nav { display: block; margin: 0 auto; background: url('../i/icons-sf64ca3ee35.png') 0 -940px no-repeat; width: 21px; height: 16px; }
.show-nav:hover { background: url('../i/icons-sf64ca3ee35.png') 0 -914px no-repeat; width: 21px; height: 16px; }

.nav { margin: 15px 0; padding: 0 10px; border-top: 1px solid #474e53; }
.nav li { position: relative; margin: 0 -19px 0 -14px; }
.nav li:hover { background: #394046; }
.nav .is-active { background: #474e53; }
.nav .is-active a { font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; color: #fff; }
.nav .is-new.is-active:before { left: 5px; }
.nav .is-new:before { content: ""; position: absolute; left: 5px; top: 50%; margin-top: -3px; width: 6px; height: 6px; background: #f80; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.nav .is-media i { background: url('../i/icons-sf64ca3ee35.png') 0 -966px no-repeat; width: 12px; height: 10px; }
.nav .is-rate i { background: url('../i/icons-sf64ca3ee35.png') 0 -1287px no-repeat; width: 12px; height: 10px; }
.nav a { display: block; padding: 5px 19px; font-size: 14px; line-height: 1; color: #edeef0; text-decoration: none; cursor: pointer; }
.nav a:active { position: relative; top: 1px; }
.nav span { display: inline-block; line-height: 1; }
.nav i { display: inline-block; margin-left: 5px; }
.nav b { float: right; font-size: 12px; color: #858f97; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; }

.nav__title { display: block; float: none; margin: 17px 0 11px 5px; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; font-size: 10px; color: #858f97; text-transform: uppercase; }

/* ---------------------------------- //END Independent blocks ----------------------------------- */
.toolbar { position: relative; height: 50px; background: #fff; }

.toolbar_extend .search { left: 238px; right: 10px; }
.toolbar_extend .options { right: -115px; }
.toolbar_extend .options-more { left: 10px; }

.search { position: absolute; left: 10px; top: 10px; right: 140px; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
.search input[type="submit"] { display: none; }

.search-list { display: none; position: absolute; top: 31px; left: 0; z-index: 1000; padding: 8px 10px; width: 100%; border: 1px solid #b9b9b9; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); background: #fff; }
.search-list li { padding: 9px 0 10px; border-top: 1px solid #dcdcdc; }
.search-list li:first-child { border-top: #000; }
.search-list a { color: #00659b; font-size: 14px; text-decoration: none; }

.search-list__img { float: left; margin-right: 8px; width: 32px; text-align: center; }

.search-list__text { overflow: hidden; }
.search-list__text span { display: block; color: #999; font-size: 12px; }

.search-ext { position: relative; z-index: -1; padding: 30px 40px; background: #fff; max-height: 530px; overflow: hidden; border-top: 1px solid #e7e7e7; }
.search-ext .btn-close { position: absolute; top: 10px; right: 12px; cursor: pointer; }
.search-ext .btn-close .icon:hover + .tooltip { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.search-ext .btn-close .tooltip { top: 28px; margin-left: -50px; }
.search-ext .btn-close .tooltip:before { right: 7px; left: auto; }
.search-ext .submit-wrap { text-align: center; }

.search-ext__title { display: block; margin-bottom: 17px; color: #666; font-size: 10px; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; text-transform: uppercase; }

.search-ext__cols { margin-bottom: 14px; }
.search-ext__cols .radio { display: inline-block; width: 49%; }

.search-ext__filter { clear: both; margin: 0 0 30px; padding: 27px 0 20px; border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; }

.search-ext__input { position: relative; }
.search-ext__input .check_mod { position: absolute; right: 0; top: -4px; }
.search-ext__input .check_mod strong { font-size: 14px; color: #404040; vertical-align: top; }
.search-ext__input .input button { top: 19px; }
.search-ext__input .search-list { top: 50px; width: 80%; }

.search-ext__input_obj .input { margin-bottom: 10px; }

.tags-cloud { margin-bottom: 20px; }

.tag { display: inline-block; margin: 0 5px 5px; padding: 0 10px; height: 18px; line-height: 18px; color: #404040; cursor: pointer; font-size: 12px; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; border: 1px solid #c3ccce; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; background: #e6eaed; -moz-user-select: none; -webkit-user-select: none; user-select: none; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZWFlZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjdmYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e6eaed), color-stop(100%, #f5f7fa)); background-image: -webkit-linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); background-image: -moz-linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); background-image: -o-linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); background-image: linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); }
.tag:hover { background: #f5f7fa; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjdmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZWFlZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f5f7fa), color-stop(100%, #e6eaed)); background-image: -webkit-linear-gradient(bottom, #f5f7fa 0%, #e6eaed 100%); background-image: -moz-linear-gradient(bottom, #f5f7fa 0%, #e6eaed 100%); background-image: -o-linear-gradient(bottom, #f5f7fa 0%, #e6eaed 100%); background-image: linear-gradient(bottom, #f5f7fa 0%, #e6eaed 100%); }
.tag:hover i { background: url('../i/icons-sf64ca3ee35.png') 0 -826px no-repeat; width: 15px; height: 10px; }
.tag:active { -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4); }
.tag i { display: inline-block; margin-left: 5px; background: url('../i/icons-sf64ca3ee35.png') 0 -780px no-repeat; width: 15px; height: 10px; vertical-align: middle; }

.filter-result { padding: 10px 10px 0; height: 40px; font-size: 12px; overflow: hidden; border-top: 1px solid #e7e7e7; }
.filter-result strong { font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; }

.options { position: absolute; right: 10px; top: 10px; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
.options .icon { vertical-align: middle; }

.lightning { position: relative; float: left; }
.lightning .btn-opt:hover i { position: relative; top: -1px; background: url('../i/icons-sf64ca3ee35.png') 0 -674px no-repeat; width: 12px; height: 17px; }
.lightning .btn-opt i { display: inline-block; vertical-align: middle; background: url('../i/icons-sf64ca3ee35.png') 0 -647px no-repeat; width: 12px; height: 17px; }
.lightning .tooltip { margin-left: -75px; width: 150px; }

.view { position: relative; float: left; margin-left: 10px; }
.view:hover .view__icon { background: url('../i/icons-sf64ca3ee35.png') 0 -1052px no-repeat; width: 8px; height: 4px; }
.view:hover button .icon_sort1 { background: url('../i/icons-sf64ca3ee35.png') 0 -1263px no-repeat; width: 16px; height: 14px; }
.view:hover button .icon_sort2 { background: url('../i/icons-sf64ca3ee35.png') 0 -1191px no-repeat; width: 16px; height: 14px; }
.view:hover button .icon_sort3 { background: url('../i/icons-sf64ca3ee35.png') 0 -1329px no-repeat; width: 16px; height: 14px; }
.view .is-active { border: 1px solid #a3aaac; -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); }
.view .tooltip { margin-left: -94px; width: 115px; }
.view .tooltip:before { left: auto; right: 0; margin-right: 17px; }
.view i { vertical-align: middle; }
.view .icon { position: relative; top: -2px; }
.view .drop-list { left: auto; right: 0; }
.view .drop-list li:hover .icon_sort1 { background: url('../i/icons-sf64ca3ee35.png') 0 -1263px no-repeat; width: 16px; height: 14px; }
.view .drop-list li:hover .icon_sort2 { background: url('../i/icons-sf64ca3ee35.png') 0 -1191px no-repeat; width: 16px; height: 14px; }
.view .drop-list li:hover .icon_sort3 { background: url('../i/icons-sf64ca3ee35.png') 0 -1329px no-repeat; width: 16px; height: 14px; }
.view .drop-list .is-selected { font-weight: bold; color: #000; }
.view .view__1.is-selected .icon { background: url('../i/icons-sf64ca3ee35.png') 0 -1263px no-repeat; width: 16px; height: 14px; }
.view .view__2.is-selected .icon { background: url('../i/icons-sf64ca3ee35.png') 0 -1191px no-repeat; width: 16px; height: 14px; }
.view .view__3.is-selected .icon { background: url('../i/icons-sf64ca3ee35.png') 0 -1329px no-repeat; width: 16px; height: 14px; }

.view__icon { display: inline-block; background: url('../i/icons-sf64ca3ee35.png') 0 -1038px no-repeat; width: 8px; height: 4px; }

.options-more { position: absolute; left: -210px; top: 10px; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
.options-more .print { float: left; margin-right: -1px; -webkit-border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px; -ms-border-radius: 2px 0 0 2px; -o-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; }
.options-more .email { float: left; -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; -ms-border-radius: 0 2px 2px 0; -o-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }

.add-to { position: relative; float: left; margin-right: -1px; }
.add-to .btn-opt { -webkit-border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px; -ms-border-radius: 2px 0 0 2px; -o-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; }
.add-to .is-active { border: 1px solid #a3aaac; -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); }
.add-to .drop-list .icon { margin-right: 10px; }
.add-to .drop-list li:hover { font-weight: normal; font-style: normal; font-family: 'PT Sans regular', sans-serif; }
.add-to .tooltip { margin-left: -25px; width: 150px; }
.add-to .tooltip:before { left: 0; margin-left: 17px; }

.download { position: relative; float: left; margin-right: 10px; }
.download .btn-opt { -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; -ms-border-radius: 0 2px 2px 0; -o-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
.download .tooltip { width: 125px; margin-left: -62px; }
.download .is-active { border: 1px solid #a3aaac; -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); }
.download .drop-list i { display: inline-block; margin: -4px 18px 0 0; width: 16px; height: 16px; background: #999; vertical-align: middle; }

.print { position: relative; float: left; margin-right: -1px; -webkit-border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px; -ms-border-radius: 2px 0 0 2px; -o-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; }
.print .tooltip { width: 146px; margin-left: -73px; }

.email { position: relative; float: left; -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; -ms-border-radius: 0 2px 2px 0; -o-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }
.email .tooltip { width: 146px; margin-left: -73px; }

.icon { display: inline-block; }

.icon_sort1 { background: url('../i/icons-sf64ca3ee35.png') 0 -1215px no-repeat; width: 16px; height: 14px; }
.icon_sort1:hover { background: url('../i/icons-sf64ca3ee35.png') 0 -1263px no-repeat; width: 16px; height: 14px; }

.icon_sort2 { background: url('../i/icons-sf64ca3ee35.png') 0 -1167px no-repeat; width: 16px; height: 14px; }
.icon_sort2:hover { background: url('../i/icons-sf64ca3ee35.png') 0 -1191px no-repeat; width: 16px; height: 14px; }

.icon_sort3 { background: url('../i/icons-sf64ca3ee35.png') 0 -1239px no-repeat; width: 16px; height: 14px; }
.icon_sort3:hover { background: url('../i/icons-sf64ca3ee35.png') 0 -1329px no-repeat; width: 16px; height: 14px; }

.icon_glass { background: url('../i/icons-sf64ca3ee35.png') 0 -177px no-repeat; width: 16px; height: 16px; }

.icon_point { background: url('../i/icons-sf64ca3ee35.png') 0 -376px no-repeat; width: 17px; height: 21px; }

.icon_all { background: url('../i/icons-sf64ca3ee35.png') 0 -325px no-repeat; width: 18px; height: 15px; }

.icon_plus { background: url('../i/icons-sf64ca3ee35.png') 0 -1307px no-repeat; width: 12px; height: 12px; }

.icon_info { background: url('../i/icons-sf64ca3ee35.png') 0 -203px no-repeat; width: 32px; height: 32px; }

.icon_photo { background: url('../i/icons-sf64ca3ee35.png') 0 -30px no-repeat; width: 32px; height: 32px; }

.icon_video { background: url('../i/icons-sf64ca3ee35.png') 0 -135px no-repeat; width: 32px; height: 32px; }

.icon_media { background: url('../i/icons-sf64ca3ee35.png') 0 -966px no-repeat; width: 12px; height: 10px; }

.icon_close { background: url('../i/icons-sf64ca3ee35.png') 0 -551px no-repeat; width: 16px; height: 16px; }
.icon_close:hover { background: url('../i/icons-sf64ca3ee35.png') 0 -846px no-repeat; width: 16px; height: 16px; }

.icon_open { background: url('../i/icons-sf64ca3ee35.png') 0 -1012px no-repeat; width: 16px; height: 16px; }
.icon_open:hover { background: url('../i/icons-sf64ca3ee35.png') 0 -1118px no-repeat; width: 16px; height: 16px; }

.icon_open-feed { background: url('../i/icons-sf64ca3ee35.png') 0 -1144px no-repeat; width: 16px; height: 13px; }
.icon_open-feed:hover { background: url('../i/icons-sf64ca3ee35.png') 0 -1353px no-repeat; width: 16px; height: 13px; }

.icon_star { background: url('../i/icons-sf64ca3ee35.png') 0 -701px no-repeat; width: 17px; height: 16px; vertical-align: middle; }
.icon_star:hover { background: url('../i/icons-sf64ca3ee35.png') 0 -800px no-repeat; width: 17px; height: 16px; }

.icon_print { background: url('../i/icons-sf64ca3ee35.png') 0 -1066px no-repeat; width: 17px; height: 16px; vertical-align: middle; }
.icon_print:hover { background: url('../i/icons-sf64ca3ee35.png') 0 -1092px no-repeat; width: 17px; height: 16px; }

.icon_downl { background: url('../i/icons-sf64ca3ee35.png') 0 -888px no-repeat; width: 17px; height: 16px; vertical-align: middle; }
.icon_downl:hover { background: url('../i/icons-sf64ca3ee35.png') 0 -986px no-repeat; width: 17px; height: 16px; }

.icon_email { background: url('../i/icons-sf64ca3ee35.png') 0 -525px no-repeat; width: 17px; height: 16px; vertical-align: middle; }
.icon_email:hover { background: url('../i/icons-sf64ca3ee35.png') 0 -754px no-repeat; width: 17px; height: 16px; }

.btn-opt { display: block; width: 50px; height: 30px; line-height: 1; border: 1px solid #c3ccce; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #ebebeb; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZWFlZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjdmYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e6eaed), color-stop(100%, #f5f7fa)); background-image: -webkit-linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); background-image: -moz-linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); background-image: -o-linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); background-image: linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); }
.btn-opt:hover { border: 1px solid #a3aaac; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
.btn-opt:hover + .tooltip { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; z-index: 1000; }
.btn-opt:active { -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); }

.tooltip { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: absolute; left: 50%; top: 38px; padding: 8px 10px; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; color: #edeef0; text-align: center; font-size: 12px; background: #2f373d; background: rgba(47, 55, 61, 0.8); -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.tooltip:before { content: ""; position: absolute; left: 50%; top: -6px; margin-left: -6px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; background: url('../i/icons-sf64ca3ee35.png') 0 -872px no-repeat; width: 12px; height: 6px; }

.drop-list { display: none; position: absolute; left: 0; top: 32px; z-index: 2000; width: 180px; background: #fff; border: 1px solid #b9b9b9; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
.drop-list li { padding: 10px 5px 9px 9px; color: #666; height: 40px; cursor: pointer; font-size: 14px; border-top: 1px solid #b9b9b9; -moz-user-select: none; -webkit-user-select: none; user-select: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.drop-list li:first-child { border-top: 0; }
.drop-list li:hover { color: #000; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; background: #f8f8f8; }
.drop-list .icon { margin-right: 17px; }

.check { position: relative; display: inline-block; width: 14px; }
.check:hover span { border: 1px solid #4094d4; }
.check:hover .is-checked i { background: url('../i/icons-sf64ca3ee35.png') 0 -407px no-repeat; width: 14px; height: 13px; }
.check input, .check span { position: absolute; left: 0; top: 0; width: 14px; height: 14px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.check span { background: #fff; border: 1px solid #ccc; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.check strong { font-weight: normal; font-style: normal; font-family: 'PT Sans regular', sans-serif; }
.check input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; z-index: 2; }
.check i { display: none; position: absolute; top: -3px; right: -3px; background: url('../i/icons-sf64ca3ee35.png') 0 -502px no-repeat; width: 14px; height: 13px; }
.check .is-checked { border-color: #4094d4; }
.check .is-checked i { display: block; }
.check .is-checked:hover i { background: url('../i/icons-sf64ca3ee35.png') 0 -407px no-repeat; width: 14px; height: 13px; }
.check .is-blocked { border: 1px solid #e6e6e6; background: #f5f5f5; }
.check .is-blocked i { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); opacity: 0.3; }
.check .is-partly-blocked { border: 1px solid #e6e6e6; background: #f5f5f5; }
.check .is-partly-blocked i { left: 50%; top: 50%; margin: -1px 0 0 -3px; width: 6px; height: 3px; background: #ccc; }
.check sub { color: #999; font-size: 12px; }

.check_mod { width: auto; padding-left: 24px; -moz-user-select: none; -webkit-user-select: none; user-select: none; }

.radio { color: #404040; font-size: 14px; margin-bottom: 14px; }
.radio:hover i { background: url('../i/icons-sf64ca3ee35.png') 0 -430px no-repeat; width: 14px; height: 14px; }
.radio:hover .is-active { background: url('../i/icons-sf64ca3ee35.png') 0 -269px no-repeat; width: 14px; height: 14px; }
.radio:hover .is-blocked { background: url('../i/icons-sf64ca3ee35.png') 0 -577px no-repeat; width: 14px; height: 14px; }
.radio label { position: relative; padding-left: 24px; }
.radio input, .radio i { position: absolute; width: 14px; height: 14px; left: 0; top: 50%; margin-top: -7px; }
.radio input { opacity: 0; z-index: 2; }
.radio i { background: url('../i/icons-sf64ca3ee35.png') 0 -454px no-repeat; width: 14px; height: 14px; }
.radio .is-active { background: url('../i/icons-sf64ca3ee35.png') 0 -245px no-repeat; width: 14px; height: 14px; }
.radio .is-blocked { background: url('../i/icons-sf64ca3ee35.png') 0 -577px no-repeat; width: 14px; height: 14px; }
.radio .is-active.is-blocked { background: url('../i/icons-sf64ca3ee35.png') 0 -478px no-repeat; width: 14px; height: 14px; }
.radio sub { color: #999; font-size: 12px; }

.input { margin-bottom: 31px; text-align: left; }
.input input, .input textarea { display: block; padding: 0 10px; height: 30px; width: 100%; font-weight: normal; font-style: normal; font-family: 'PT Sans regular', sans-serif; color: #999; font-size: 16px; border: 1px solid #ccc; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.input input.placeholder, .input textarea.placeholder { color: #999999; font: sans-serif; }
.input input:-moz-placeholder, .input textarea:-moz-placeholder { color: #999999; font: sans-serif; }
.input input::-webkit-input-placeholder, .input textarea::-webkit-input-placeholder { color: #999999; font: sans-serif; }
.input input:hover, .input textarea:hover { border-color: #999; }
.input input:focus, .input textarea:focus { border-color: #4094d4; }
.input .is-disabled { border-color: #e6e6e6; background: #f5f5f5; }
.input .is-focused { color: #404040; }
.input label { display: block; margin-bottom: 7px; font-size: 10px; color: #666; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; text-transform: uppercase; }
.input textarea { padding: 10px; height: 140px; resize: vertical; }
.input button { display: block; position: absolute; right: 1px; top: 1px; z-index: 2; background: transparent; width: 26px; height: 28px; text-align: center; background: #fff; }
.input button i { display: inline-block; vertical-align: middle; background: url('../i/icons-sf64ca3ee35.png') 0 -1038px no-repeat; width: 8px; height: 4px; }

.submit-wrap { text-align: left; }

.submit { padding: 0 23px; height: 28px; color: #404040; border: 1px solid #c3ccce; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #ebebeb; text-transform: uppercase; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; font-size: 11px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZWFlZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjdmYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e6eaed), color-stop(100%, #f5f7fa)); background-image: -webkit-linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); background-image: -moz-linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); background-image: -o-linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); background-image: linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%); }
.submit:hover { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
.submit:active { -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4); }

.popup { display: none; height: 100%; width: 100%; overflow: hidden; text-align: center; }
.popup img { height: 100%; width: auto; }

.popup__download { position: absolute; right: 0; bottom: 0; padding: 0 15px 0 20px; height: 50px; line-height: 50px; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; font-size: 14px; text-decoration: none; border-left: 1px solid #e7e7e7; overflow: hidden; }
.popup__download:hover i { background: url('../i/icons-sf64ca3ee35.png') 0 -986px no-repeat; width: 17px; height: 16px; }
.popup__download i { display: inline-block; margin: -7px 9px 0 0; vertical-align: middle; background: url('../i/icons-sf64ca3ee35.png') 0 -888px no-repeat; width: 17px; height: 16px; }

.popup-send { display: none; position: absolute; top: 50%; left: 50%; z-index: 2000; margin: -190px 0 0 -350px; padding: 40px; width: 620px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: white url(../i/popup-border.png) 0 0 repeat-x; }

.popup__left { float: left; width: 185px; text-align: left; color: #666; font-size: 14px; }
.popup__left p { margin-bottom: 25px; }

.popup__right { float: right; width: 380px; }

.popup__title { display: block; margin: 3px 0 12px; font-size: 18px; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; color: #000; }

.popup-close { position: absolute; top: -10px; right: -10px; cursor: pointer; z-index: 8040; background: url('../i/icons-sf64ca3ee35.png') 0 -103px no-repeat; width: 22px; height: 22px; }
.popup-close:hover { background: url('../i/icons-sf64ca3ee35.png') 0 -293px no-repeat; width: 22px; height: 22px; }

.window { position: absolute; margin-top: -10px; right: -456px; z-index: 2000; padding-top: 51px; width: 357px; height: 394px; border: 1px solid #b9b9b9; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #fff; -webkit-transition: left, 0.5s ease-in-out; -moz-transition: left, 0.5s ease-in-out; -o-transition: left, 0.5s ease-in-out; transition: left, 0.5s ease-in-out; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
.window .is-floating { position: fixed; right: 204px; margin-top: 10px; }
.window .article-bar__left { left: 10px; }
.window .article-bar__right { right: 10px; }
.window .scroller__container { padding: 0 !important; }
.window .scroller__bar { right: 5px !important; }
.window .article-nav { margin: 0; padding: 22px 0 0; }
.window .article-nav .icon_star { display: none; }
.window .article-nav__left, .window .article-nav__right, .window .article-nav__media { float: none; width: 100%; }
.window .media-link { display: inline-block; margin: 0 8px 8px 0; vertical-align: top; }
.window .article-nav__media { margin-bottom: 23px; padding-bottom: 23px; border-bottom: 1px solid #e7e7e7; }

.window__main { margin: 0 16px 0 0; padding: 13px 10px 0 19px; border-right: 1px solid #e7e7e7; }

.window__arr { position: absolute; right: -7px; top: 21px; z-index: 3000; background: url('../i/icons-sf64ca3ee35.png') 0 -625px no-repeat; width: 7px; height: 12px; }

.article-window { font-size: 14px; }
.article-window h1 { margin: 9px 0 22px; font-size: 18px; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; }
.article-window strong, .article-window b { font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; }
.article-window p { margin-bottom: 22px; }

.article-window__meta { font-size: 12px; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; color: #999; }

@font-face { font-family: 'PT Sans regular'; src: url("../files/fonts/pts55f_w.eot"); src: local("PT Sans"), url("../files/fonts/PTS55F_W.woff") format("woff"), url("../files/fonts/PTS55F_W.ttf") format("truetype"), url("../files/fonts/PTS55F_W.svg#PTSans-Regular") format("svg"); }

@font-face { font-family: 'PT Sans italic'; font-style: italic; src: url("../files/fonts/pts56f_w.eot"); src: local("PT Sans Italic"), url("../files/fonts/PTS56F_W.woff") format("woff"), url("../files/fonts/PTS56F_W.ttf") format("truetype"), url("../files/fonts/PTS56F_W.svg#PTSans-Italic") format("svg"); }

@font-face { font-family: 'PT Sans bold'; src: url("../files/fonts/pts75f_w.eot"); font-style: normal; font-weight: bold; src: local("PT Sans Bold"), url("../files/fonts/PTS75F_W.woff") format("woff"), url("../files/fonts/PTS75F_W.ttf") format("truetype"), url("../files/fonts/PTS75F_W.svg#PTSans-Bold") format("svg"); }

.search-list li:after, .wrap:after, .news li:after, .main-head:after, .info-item__title:after, .article-nav:after, .article-nav__media div:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.is-withsidebar .l-sidebar { left: 0 !important; }
.is-withsidebar .overlay { display: none !important; }
.is-withsidebar .l-layout { left: 210px; right: 0; }
.is-withsidebar .sidebar-mini { left: -50px; }
.is-withsidebar .l-wall-news.is-active { right: 0px; }
.is-withsidebar .show-wall { left: -230px; }

.is-withwall .l-layout { right: 210px; }

.is-full-screen { min-width: 480px; }
@media only screen and (min-width: 1280px) { .is-full-screen .article, .is-full-screen .article-nav { width: 50%; } }

.l-wrapper { overflow: hidden; left: 0; right: 0; }

.l-layout { position: absolute; z-index: 1; left: 50px; right: 0 !important; }

.l-wrapper, .l-layout, .l-sidebar, .l-col-left, .l-col-right, .l-wall-news { position: absolute; top: 0; bottom: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.l-sidebar { width: 210px; z-index: 2; background: #2f373d; left: -210px; }
.l-sidebar .scroller__bar { right: 4px; }
.l-sidebar .scroller__bar span { background: #858f97; }
.l-sidebar .scroller__container { padding: 0 11px 0 6px; }

.sidebar-mini { position: absolute; top: 0; bottom: 0; z-index: 2000; padding-top: 15px; width: 50px; background: #2f373d; left: 210px; }
.sidebar-mini .is-new { position: relative; }
.sidebar-mini .is-new:after { content: ""; position: absolute; right: -5px; top: -5px; width: 10px; height: 10px; background: #f80; border: 2px solid #2f373d; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.l-col-left { left: 0; width: 42%; }
.l-col-left .scroller-wrap { position: absolute; top: 50px; bottom: 0; left: 0; right: 0; height: auto; border-top: 1px solid #e7e7e7; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.l-col-left .scroller-wrap_filter-res { top: 100px; }
.l-col-left .scroller__container { padding: 0 14px 0 0; }
.l-col-left .is-searching { padding: 0; }

.l-col-right { right: 0; width: 58%; background: #f2f2f2; }
.l-col-right .main { height: 94%; }
.l-col-right .content { background: #fff; border-right: 1px solid #cfcfcf; }
.l-col-right .content .scroller__bar { top: 55px; }
.l-col-right .content .scroller__container { margin-right: 15px; border-right: 1px solid #cfcfcf; }

.l-col-right_width .article { float: left; width: 65%; }
.l-col-right_width .article-nav { position: absolute; right: 0; top: 0; margin: 0; padding: 98px 30px 46px 0; width: 35%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.drag { position: absolute; top: 0; left: 0; right: 0; bottom: 0; padding: 0 360px; }
.drag span { position: absolute; top: 0; left: 40%; bottom: 0; z-index: 4; width: 9px; cursor: ew-resize; background: #fff; border-left: 1px solid #cfcfcf; border-right: 1px solid #cfcfcf; }
.drag span:before, .drag span:after { content: ""; position: absolute; top: 50%; margin-top: -6px; width: 1px; height: 12px; background: #c0c2c4; }
.drag span:before { left: 3px; }
.drag span:after { right: 3px; }

.l-wall-news { right: -210px; z-index: 3; width: 210px; background: #2f373d; -webkit-transition: left, 0.5s ease-in-out; -moz-transition: left, 0.5s ease-in-out; -o-transition: left, 0.5s ease-in-out; transition: left, 0.5s ease-in-out; }
.l-wall-news .scroller-wrap { height: 96%; }
.l-wall-news .scroller__container { padding-right: 16px; }
.l-wall-news .scroller__bar span { background: #858f97; }

.overlay, .toolbar__overlay, .overlay-popup { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1000; background: #000; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

.toolbar__overlay { background: none; }

.wrapper { overflow: hidden; }

.is-with-shadow, .news-top__position-top { -webkit-box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.6); box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.6); }

.scroller-wrap { position: relative; overflow: hidden; height: 100%; }

.scroller-wrap__overlay { display: none; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 2; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; background: #000; }

.scroller { height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; }

.scroller__bar { position: absolute; z-index: 1; top: 4px; bottom: 10px; right: 4px; width: 6px; }
.scroller__bar span { position: absolute; z-index: 1; display: none; width: 6px; min-height: 50px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #2f363c; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); opacity: 0.3; -webkit-transition: width 0.2s linear; -moz-transition: width 0.2s linear; -o-transition: width 0.2s linear; transition: width 0.2s linear; }
.scroller__bar span:hover { opacity: .8; }

.baron .scroller__bar span { display: block; }

.scroller__container { overflow: hidden; }

@font-face { font-family: 'PT Sans regular'; src: url("../files/fonts/pts55f_w.eot"); src: local("PT Sans"), url("../files/fonts/PTS55F_W.woff") format("woff"), url("../files/fonts/PTS55F_W.ttf") format("truetype"), url("../files/fonts/PTS55F_W.svg#PTSans-Regular") format("svg"); }

@font-face { font-family: 'PT Sans italic'; font-style: italic; src: url("../files/fonts/pts56f_w.eot"); src: local("PT Sans Italic"), url("../files/fonts/PTS56F_W.woff") format("woff"), url("../files/fonts/PTS56F_W.ttf") format("truetype"), url("../files/fonts/PTS56F_W.svg#PTSans-Italic") format("svg"); }

@font-face { font-family: 'PT Sans bold'; src: url("../files/fonts/pts75f_w.eot"); font-style: normal; font-weight: bold; src: local("PT Sans Bold"), url("../files/fonts/PTS75F_W.woff") format("woff"), url("../files/fonts/PTS75F_W.ttf") format("truetype"), url("../files/fonts/PTS75F_W.svg#PTSans-Bold") format("svg"); }

.search-list li:after, .wrap:after, .news li:after, .main-head:after, .info-item__title:after, .article-nav:after, .article-nav__media div:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.news-top { border-bottom: 1px solid #e7e7e7; }
.news-top div { padding: 4px 10px; background: #f3f3f3; border-right: 1px solid #e7e7e7; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.news-top span, .news-top .check { vertical-align: middle; }
.news-top .check { height: 14px; }

.news-top__fixed { right: 14px; left: 0; }

.news-top__position-top { position: absolute; z-index: 2; top: 0 !important; }

.news-top__position-bottom { position: static; }

.news-top__date { margin-left: 13px; color: #404040; font-size: 10px; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; text-transform: uppercase; }

.news { border-right: 1px solid #e7e7e7; }
.news li { position: relative; padding-right: 5px; border-bottom: 1px solid #e7e7e7; }
.news .check { position: absolute; top: 0; bottom: 0; left: 0px; height: auto; width: 40px; }
.news .check span, .news .check input { top: 17px; left: 10px; }
.news .is-important { position: relative; }
.news .is-important:before { content: ""; position: absolute; right: 5px; top: 5px; background: url('../i/icons-sf64ca3ee35.png') 0 -727px no-repeat; width: 12px; height: 17px; }
.news .is-important a { color: #f15c30; }
.news .is-selected { background: #fffef0; }
.news .is-read { color: #999; }
.news .is-read a { color: #999; }
.news .is-read.is-selected .news__title a { color: #666; }

.news_headers-only .news__title { display: inline; }
.news_headers-only .news__meta { position: relative; top: -2px; }

.news__cont { margin-left: 40px; padding: 17px 0; color: #333; font-size: 12px; }
.news__cont p { margin-bottom: 5px; }

.news__title { position: relative; top: -2px; line-height: 1.1; margin-bottom: 4px; }
.news__title a { color: #00659b; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; font-size: 16px; text-decoration: none; }
.news__title a:hover { text-decoration: underline; }

.news__meta { color: #999; font-size: 12px; }
.news__meta span { cursor: pointer; }
.news__meta span:hover { text-decoration: underline; }
.news__meta .news__date { cursor: default; }
.news__meta .news__date:hover { text-decoration: none; }

.news__date { font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; }

.main-head { position: relative; margin: 31px 0 22px; color: #000; }
.main-head span { display: block; margin-bottom: -1px; font-size: 10px; text-transform: uppercase; }

.main-head__title { font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; font-size: 30px; }

.main { background: #f2f2f2; }
.main .scroller__container { padding: 0 30px 0 41px; }
.main .scroller__bar { right: 13px; }

.set-link { position: absolute; top: 0; right: 0; }
.set-link a { display: block; background: url('../i/icons-sf64ca3ee35.png') 0 -601px no-repeat; width: 14px; height: 14px; }
.set-link:hover .tooltip { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.set-link .tooltip { top: 28px; margin-left: -80px; width: 95px; text-transform: none; }
.set-link .tooltip:before { left: auto; right: 8px; }

.info-item { margin: 0 0 29px; border: 1px solid #c0c2c4; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; overflow: hidden; }
.info-item img { display: block; }

.info-item__title { margin: 0 20px 15px; padding: 14px 0 10px; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; border-bottom: 1px solid #e7e7e7; }
.info-item__title span { float: left; font-size: 10px; text-transform: uppercase; }
.info-item__title a { float: right; font-size: 12px; color: #00659b; text-decoration: none; }

.info-item__cont { padding: 0 20px; }

.trand { padding-top: 12px; }
.trand li { margin-bottom: 24px; }

.trand__title { display: block; margin-bottom: 7px; color: #404040; font-size: 14px; }

.trand__rate { position: relative; display: block; height: 3px; background: #f2f2f2; }
.trand__rate span { position: absolute; left: 0; top: 0; height: 3px; background: #00659b; }

.wall { font-size: 13px; }
.wall li { padding: 8px 21px; border-right: 1px solid #474e53; border-top: 1px solid #474e53; }
.wall li:first-child { border-top: 0; }
.wall .is-new a { color: #f15c30; }
.wall .is-active { background: #474e53; }
.wall .is-active a { font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; }
.wall a { color: #fff; text-decoration: none; }
.wall span { display: block; padding-top: 5px; color: #999; font-size: 10px; }
.wall strong { font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; }

.show-wall { position: absolute; bottom: 0; left: 0; padding-left: 11px; width: 190px; height: 28px; line-height: 28px; background: #2f373d; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; cursor: pointer; font-size: 12px; color: #fff; text-align: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; -ms-border-radius: 2px 2px 0 0; -o-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.show-wall:after { content: ""; position: absolute; top: 12px; right: 11px; }

.show-wall.is-new:after { width: 6px; height: 6px; background: #f80; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.show-wall.is-active { left: 0; width: 210px; border-top: 1px solid #474e53; -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 #474d53; -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 #474d53; box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 #474d53; }
.show-wall.is-active:after { background: url('../i/icons-sf64ca3ee35.png') 0 -1038px no-repeat; width: 8px; height: 4px; }

.article-bar { position: absolute; top: 0; left: 0; right: 0; z-index: 2; height: 50px; background: #fff; border-bottom: 1px solid #e7e7e7; }
.article-bar .btn-opt { background: #fff; }
.article-bar .btn-opt:active { border: 1px solid #adb3b7; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #f5f5f5; -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4); box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.4); }
.article-bar .print { float: left; margin-right: -1px; }
.article-bar .print .btn-opt { -webkit-border-radius: 2px 0 0 2px; -moz-border-radius: 2px 0 0 2px; -ms-border-radius: 2px 0 0 2px; -o-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; }
.article-bar .email { float: left; }
.article-bar .email .btn-opt { -webkit-border-radius: 0 2px 2px 0; -moz-border-radius: 0 2px 2px 0; -ms-border-radius: 0 2px 2px 0; -o-border-radius: 0 2px 2px 0; border-radius: 0 2px 2px 0; }

.article-bar__left { position: absolute; left: 30px; top: 10px; }
.article-bar__left .add-to .tooltip { margin-left: -27px; }
.article-bar__left .add-to .tooltip:before { left: 0; margin-left: 25px; }

.article-bar__right { position: absolute; right: 30px; top: 13px; }
.article-bar__right .icon { cursor: pointer; vertical-align: middle; }
.article-bar__right .btn-open, .article-bar__right .btn-close, .article-bar__right .btn-open-feed { position: relative; float: left; }
.article-bar__right .btn-open:hover .icon + .tooltip, .article-bar__right .btn-close:hover .icon + .tooltip, .article-bar__right .btn-open-feed:hover .icon + .tooltip { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.article-bar__right .btn-open:active, .article-bar__right .btn-close:active, .article-bar__right .btn-open-feed:active { position: relative; top: -1px; }
.article-bar__right .btn-open .tooltip, .article-bar__right .btn-close .tooltip, .article-bar__right .btn-open-feed .tooltip { top: 28px; }
.article-bar__right .btn-close .tooltip { margin-left: -30px; }
.article-bar__right .btn-open { margin-right: 20px; }
.article-bar__right .btn-open .tooltip { width: 140px; margin-left: -70px; }
.article-bar__right .btn-open-feed { margin-right: 20px; }
.article-bar__right .btn-open-feed .tooltip { width: 140px; margin-left: -70px; }

.article { padding: 63px 40px 10px; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.article h1 { margin: 8px 0 36px; font-size: 30px; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; line-height: 1.2; }
.article p { margin-bottom: 21px; }
.article img { float: right; margin: 0 0 20px 40px; border: 1px solid #1b5c94; }
.article strong, .article b { font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; }
.article i { font-weight: normal; font-style: normal; font-family: 'PT Sans italic', sans-serif; }

.article__date { font-size: 12px; color: #999; }

.article_mod { width: 65%; float: left; -webkit-transition: width, 0.5s ease-in-out; -moz-transition: width, 0.5s ease-in-out; -o-transition: width, 0.5s ease-in-out; transition: width, 0.5s ease-in-out; }

.article-nav { padding: 25px 0 46px; border-top: 1px solid #e7e7e7; margin: 0 30px 0 41px; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.article-nav strong { position: relative; font-size: 11px; color: #404040; text-transform: uppercase; }
.article-nav ul { margin-bottom: 21px; }
.article-nav a { font-size: 12px; color: #00659b; text-decoration: none; }
.article-nav .icon_star { position: absolute; left: -21px; top: -2px; }

.article-nav_wide { float: right; margin: 75px 0 0; padding-right: 15px; width: 30%; width: 35%; border-top: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: width, 0.5s ease-in-out; -moz-transition: width, 0.5s ease-in-out; -o-transition: width, 0.5s ease-in-out; transition: width, 0.5s ease-in-out; }

.article-nav__left { float: left; width: 45%; }

.article-nav__right { float: right; width: 45%; }

.article-nav__media { float: right; width: 180px; }
.article-nav__media div { margin-bottom: 18px; }
.article-nav__media div span { color: #404040; font-size: 11px; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; }
.article-nav__media div a { float: right; font-size: 12px; }

.media-link { display: block; position: relative; margin-bottom: 10px; }
.media-link img { display: block; }
.media-link .icon { position: absolute; top: 5px; left: 5px; }

.loader { display: inline-block; vertical-align: middle; padding: 0; width: 16px; height: 16px; }

.set-col { float: left; margin-top: 24px; padding: 0 10px 0 39px; width: 35%; color: #666; font-size: 14px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.set-col:first-child { border: 0; width: 30%; }
.set-col:nth-child(2) { border-left: 1px solid #e8e8e8; border-right: 1px solid #e8e8e8; }

.set-col__title { display: block; margin-bottom: 11px; color: #000; font-size: 18px; font-weight: normal; font-style: normal; font-family: 'PT Sans bold', sans-serif; }

.settings { margin-bottom: 33px; }
.settings .check { display: block; margin-bottom: 16px; }
.settings .check .icon { margin-left: 6px; }

.settings__title { display: block; margin-bottom: 16px; font-size: 10px; color: #000; text-transform: uppercase; }

@font-face { font-family: 'PT Sans regular'; src: url("../files/fonts/pts55f_w.eot"); src: local("PT Sans"), url("../files/fonts/PTS55F_W.woff") format("woff"), url("../files/fonts/PTS55F_W.ttf") format("truetype"), url("../files/fonts/PTS55F_W.svg#PTSans-Regular") format("svg"); }

@font-face { font-family: 'PT Sans italic'; font-style: italic; src: url("../files/fonts/pts56f_w.eot"); src: local("PT Sans Italic"), url("../files/fonts/PTS56F_W.woff") format("woff"), url("../files/fonts/PTS56F_W.ttf") format("truetype"), url("../files/fonts/PTS56F_W.svg#PTSans-Italic") format("svg"); }

@font-face { font-family: 'PT Sans bold'; src: url("../files/fonts/pts75f_w.eot"); font-style: normal; font-weight: bold; src: local("PT Sans Bold"), url("../files/fonts/PTS75F_W.woff") format("woff"), url("../files/fonts/PTS75F_W.ttf") format("truetype"), url("../files/fonts/PTS75F_W.svg#PTSans-Bold") format("svg"); }

.search-list li:after, .wrap:after, .news li:after, .main-head:after, .info-item__title:after, .article-nav:after, .article-nav__media div:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }

.fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 8020; }

.fancybox-skin { position: relative; background: #fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08); }

.fancybox-opened { z-index: 8030; }

.fancybox-opened .fancybox-skin { -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner { position: relative; }

.fancybox-inner { overflow: hidden; padding-bottom: 70px; }

.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }

.fancybox-error { color: #444; margin: 0; padding: 15px; white-space: nowrap; }

.fancybox-image, .fancybox-iframe { display: block; width: 100%; height: 100%; }

.fancybox-image { max-width: 100%; max-height: 100%; }

#fancybox-loading { position: fixed; top: 50%; left: 50%; margin-top: -22px; margin-left: -22px; background-position: 0 -108px; opacity: 0.8; cursor: pointer; z-index: 8060; }

#fancybox-loading div { width: 44px; height: 44px; }

.fancybox-close { position: absolute; top: -10px; right: -10px; cursor: pointer; z-index: 8040; background: url('../i/icons-sf64ca3ee35.png') 0 -103px no-repeat; width: 22px; height: 22px; }
.fancybox-close:hover { background: url('../i/icons-sf64ca3ee35.png') 0 -293px no-repeat; width: 22px; height: 22px; }

.fancybox-nav { position: absolute; top: 0; width: 40%; height: 100%; cursor: pointer; text-decoration: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); z-index: 8040; }

.fancybox-prev { left: 0; }

.fancybox-next { right: 0; }

.fancybox-nav span { position: absolute; top: 50%; width: 36px; height: 34px; margin-top: -18px; cursor: pointer; z-index: 8040; visibility: hidden; }

.fancybox-prev span { left: 10px; background-position: 0 -36px; }

.fancybox-next span { right: 10px; background-position: 0 -72px; }

.fancybox-nav:hover span { visibility: visible; }

.fancybox-tmp { position: absolute; top: -99999px; left: -99999px; visibility: hidden; max-width: 99999px; max-height: 99999px; overflow: visible !important; }

/* Overlay helper */
.fancybox-lock { overflow: hidden; }

.fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; background: rgba(0, 0, 0, 0.5); }

.fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; }

.fancybox-lock .fancybox-overlay { overflow: auto; overflow-y: scroll; }

/* Title helper */
.fancybox-title { visibility: hidden; position: relative; text-shadow: none; z-index: 8050; }

.fancybox-opened .fancybox-title { visibility: visible; }

.fancybox-title-float-wrap { position: absolute; bottom: 0; right: 50%; margin-bottom: -35px; z-index: 8050; text-align: center; }

.fancybox-title-float-wrap .child { display: inline-block; margin-right: -100%; padding: 2px 20px; background: transparent; /* Fallback for web browsers that doesn't support RGBa */ background: rgba(0, 0, 0, 0.8); -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; text-shadow: 0 1px 2px #222; color: #FFF; font-weight: bold; line-height: 24px; white-space: nowrap; }

.fancybox-title-outside-wrap { position: absolute; color: #000; left: 20px; top: 100%; margin-top: -70px; height: 60px; overflow: hidden; right: 155px; }

.fancybox-title-over-wrap { position: absolute; bottom: 0; left: 0; color: #fff; padding: 10px; background: #000; background: rgba(0, 0, 0, 0.8); }

@font-face { font-family: 'PT Sans regular'; src: url("../files/fonts/pts55f_w.eot"); src: local("PT Sans"), url("../files/fonts/PTS55F_W.woff") format("woff"), url("../files/fonts/PTS55F_W.ttf") format("truetype"), url("../files/fonts/PTS55F_W.svg#PTSans-Regular") format("svg"); }

@font-face { font-family: 'PT Sans italic'; font-style: italic; src: url("../files/fonts/pts56f_w.eot"); src: local("PT Sans Italic"), url("../files/fonts/PTS56F_W.woff") format("woff"), url("../files/fonts/PTS56F_W.ttf") format("truetype"), url("../files/fonts/PTS56F_W.svg#PTSans-Italic") format("svg"); }

@font-face { font-family: 'PT Sans bold'; src: url("../files/fonts/pts75f_w.eot"); font-style: normal; font-weight: bold; src: local("PT Sans Bold"), url("../files/fonts/PTS75F_W.woff") format("woff"), url("../files/fonts/PTS75F_W.ttf") format("truetype"), url("../files/fonts/PTS75F_W.svg#PTSans-Bold") format("svg"); }

.search-list li:after, .wrap:after, .news li:after, .main-head:after, .info-item__title:after, .article-nav:after, .article-nav__media div:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.lteie8 .input input { line-height: 28px; }
