.datepicker {
  cursor: default;
  display: none;
}
/* Hide border divs by default */
.datepickerBorderT,
.datepickerBorderB,
.datepickerBorderL,
.datepickerBorderR,
.datepickerBorderTL,
.datepickerBorderTR,
.datepickerBorderBL,
.datepickerBorderBR {
  display:none;
}
 
.datepickerHidden {
  display: none;
}  

// div.datepicker th a.datepickerGoNext,
// div.datepicker th a.datepickerGoPrev {

//   display:none;
// }
/* Only display the previous/next arrows on the first/last calendars */
div.datepicker .datepickerFirstView th a.datepickerGoPrev,
div.datepicker .datepickerLastView th a.datepickerGoNext {
  display:block;
}
/* Day mode calendar body */
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
  display: none;
}
/* Month mode calendar body */
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
  display: none;
}
/* Year mode calendar body */
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
  display: none;
}

.calendar-wrap {
    //min-width: 630px;
    background: #fff;
    @extend %clr; 
    border: 1px solid #c0c2c4;
    @include box-sizing(border-box);
}
.calendar-wrap_middle,
.calendar-wrap_small {
    .calendar-main,
    .calendar-period {
        float: none;
        width: 100%;
    }
    .calendar-main {
        border-right: none;
    }
}
.calendar-wrap_small {
    .datepickerContainer {
        .datepickerBlock {
            float: none;
            display: block;
            &:first-child {
                float: none;
            }
        }
        .calendar {
            float: none;
            margin: 0 auto 15px;
            width: auto;
        }
        .calendar_second {
            margin: 0 auto;
        }
    }
}
.calendar-main {
    position: relative;
    padding: 15px 10px 10px;
    float: left;
    width: 70%;
    border-right: 1px solid #c0c2c4;
    @include box-sizing(border-box);
    @extend %clr;
}
.calendar-period {
    float: right;
    padding: 20px;
    width: 30%;
    min-width: 147px;
    @include box-sizing(border-box);
    .submit-wrap {
        text-align: center;
    }
    .input {
        span {
            display: block;
            margin-bottom: 5px;
        }
    }
}
.calendar {
    float: right;
    width: 204px;
    text-align: center;
    @include b;
    font-size: 14px;
    &:first-child {
        float: left;
    }
    th {
        color: #999;
        font-size: 8px;
        text-transform: uppercase;
    }
    td {
        border: 1px solid #c3cccf;
    }
    a {
        display: block;
        width: 28px;
        height: 28px;
        line-height: 30px;
        color: #404040;
        text-decoration: none;
        @include box-sizing(border-box);
        background: #fff; 
    }
    .is-inactive {
        a {
            color: #999;
        }
        
    } 
    .is-active {
        a {
            @include box-shadow(inset 0 1px 5px rgba(0,0,0,.4));
            background: #e5f1f8;
        }
    }
    .is-disabled {
        a {
            color: #e6e6e6;
        }
    }
    .is-selected {
        a {
            background: #e5f1f8;
        }
    }
    .is-selected.is-disabled  {
        a {
            background: #fff;
        }
    }
    .datepickerMonth {
        width: auto;
        display: inline-block;
    }
    .datepickerGoPrev {
        display: block;
        left: 0;
        @include sized-sprite($icons, prev);
    &:hover {
        @include sized-sprite($icons, prev-h);
    }
    }
    .datepickerGoNext {
        display: none;
        right: 0;
        @include sized-sprite($icons, next);
        &:hover {
            @include sized-sprite($icons, next-h);
        }
    }
}
.datepickerContainer {
    width: 100%;
    table {
        width: 100%;
    }
    .datepickerBlock {
        float: right;
        &:first-child {
            float: left;
        }
    }
}
.calendar_second {
    .datepickerGoPrev {
        display: none;
    }
    .datepickerGoNext {
        display: block;
    }
}
.calendar__month {
    margin-bottom: 7px;
    font-weight: normal;
    @include b;
    font-size: 10px;
    text-transform: uppercase;
}
.datepickerGoPrev,
.datepickerGoNext {
    position: absolute;
    top: 9px;
}


// /* style the 'not in month' day cell away */
// tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
//   background-color:transparent;
// }

// div.datepicker td.datepickerNotInMonth a:hover span {
//   display:none;
// }
// div.datepicker tbody.datepickerDays td.datepickerNotInMonth:hover {
//   background-color: transparent;
// }