@import "base";


// styles of .l-col-left  items
// news
.news-top {
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    @extend %clr;
    z-index: 2; 
    div {
        padding: 4px 10px;
        background: #f3f3f3;
        border-right: 1px solid #e7e7e7;
        @include box-sizing(border-box);
    }
    span, .check {
        vertical-align: middle;
    }
    .check {
        height: 14px;
    }
}
.news-top.fixed {
    position: absolute;
    top: 0;
    left: 0;
    right: 14px;
}
.news-top.fixed.absolute { 
    position: absolute;
}  
.add-new-string {
    float: right;
    color: #00659b;
    font-size: 12px;
    @include b;
    .icon {
        margin-left: 5px;
        vertical-align: middle;
    }
}
.news-top_search {
    z-index: 10;
    top: 597px;
}
.news-top__date {
    margin-left: 13px; 
    color: #404040; 
    font-size: 10px;
    @include b;
    text-transform: uppercase;
}
.news {
    border-right: 1px solid #e7e7e7;
    li {
        position: relative;
        padding-right: 5px;
        @extend %clr;
        border-bottom: 1px solid #e7e7e7;
    }
    .check {
        position: absolute;
        top: 0;
        bottom: 0; 
        left: 0px;
        height: auto;
        width: 40px;
        span, input {
            top: 17px;
            left: 10px;
        }
    }
    .is-important {
        position: relative;
        &:before {
            content: "";
            position: absolute; 
            right: 5px;
            top: 5px;
            @include sized-sprite($icons, lightning2);
        }
        a {
            color: #f15c30;
        }
    }
    .is-selected {
        background: #fffef0;
    }
    .is-read {
        color: #999;
        a {
            color: #999;
        }
    }
    .is-read.is-selected {
        .news__title {
            a {
                color: #666;
            }
        }
    }
}
.is-news-headers {
    .news__title {
        display: inline;
    }
    .news__meta {
        position: relative;
        top: -2px;
    }
}
.is-news-lid {
    .news__cont {
        p {
            display: none;
        }
    }
}
.news__cont {
    margin-left: 40px;
    padding: 17px 0;
    color: #333;
    font-size: 12px;
    p {
        margin-bottom: 5px;
    }
}
.news__title {
    position: relative;
    top: -2px;
    line-height: 1.1;
    margin-bottom: 4px;
    a {
        color: #00659b;
        @include b;
        font-size: 16px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.news__meta {
    position: relative;
    color: #999;
    font-size: 12px;
    span {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .news__date {
        cursor: default;
        &:hover {
            text-decoration: none;
        }
    }
    .icon_string {
        position: absolute;
        top: 3px;
        left: -40px;
    }
}
.news__date {
    display: inline-block;
    margin-left: 5px;
    @include b;
}
.news__star {
    position: absolute;
    left: -17px;
    top: 1px;
    @include sized-sprite($icons, star2);
}

// styles of .l-col-right items
.main-head {
    position: relative;
    margin: 31px 0 22px;
    color: #000;
    @extend %clr;
    span {
        display: block;
        margin-bottom: -1px;
        font-size: 10px;
        text-transform: uppercase;
    }
}
.main-head__title {
    @include b;
    font-size: 30px;
}
.main {
    background: #f2f2f2;
    .scroller__container {
        padding: 0 30px 0 41px;    
    }
    .scroller__bar {
        right: 13px; 
    }
}
.set-link {
    a {
        display: block;
        @include sized-sprite($icons, set);
    }
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
        .tooltip {
            @include opacity(1);
        }
    }
    .tooltip {
        top: 28px;
        margin-left: -80px;
        width: 95px;
        text-transform: none;
        &:before {
            left: auto;
            right: 8px
        }
    }
}
.info-item {
    margin: 0 0 29px;
    border: 1px solid #c0c2c4;
    @include box-sizing(border-box);
    background: #fff;
    overflow: hidden;
    img {
        display: block;
    }
}
.info-item__title {
    margin: 0 20px 15px;
    padding: 14px 0 10px;
    @extend %clr;
    @include b;
    border-bottom: 1px solid #e7e7e7;
    span {
        float: left;
        font-size: 10px;
        text-transform: uppercase;
    }
    a {
        float: right;
        font-size: 12px;
        color: #00659b;
        text-decoration: none;
    }
}
.info-item__cont {
    padding: 0 20px;
}
.trand {
    padding-top: 12px;
    li {
        margin-bottom: 24px;
    }
}
.trand__title {
    display: block;
    margin-bottom: 7px;
    color: #404040;
    font-size: 14px;
}
.trand__rate {
    position: relative;
    display: block;
    height: 3px;
    background: #f2f2f2;
    span {
        position: absolute;
        left: 0;
        top: 0;
        height: 3px;
        background: #00659b;
    }
}

// styles of .l-wall-nes  items
.wall {
    font-size: 13px;
    li {
        padding: 8px 21px;
        border-right: 1px solid #474e53;
        border-top: 1px solid #474e53;
        &:first-child {
            border-top: 0;
        }
    }
    .is-new {
        a {
            color: #f15c30;
        } 
    }
    .is-active {
        background: #474e53;
        a {
            @include b;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            //color: #f15c30;
        }
    }
    span {
        display: block;
        padding-top: 5px;
        color: #999;
        font-size: 10px;
    }
    strong {
        @include b;
    }
}

.show-wall {
    position: absolute;
    bottom: 0;
    //left: -230px;
    left: 0;
    padding-left: 11px;
    width: 190px;
    height: 28px;
    line-height: 28px;
    background: #2f373d;
    @include b;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    text-align: left;
    @include box-sizing(border-box);
    @include border-radius(2px 2px 0 0);
    @include transition(all .2s ease-in-out);
    // @include respond-to(wide) {
    //     left: 0 !important;
    // }
    &:after {
        content: "";
        position: absolute;
        top: 12px;
        right: 11px;
    }
}
.show-wall.is-new {
    &:after {
        width: 6px;
        height: 6px;
        background: #f80;
        @include border-radius(50%);
    }
}
.show-wall.is-active {
    left: 0;
    width: 210px;
    border-top: 1px solid #474e53;
    @include box-shadow(0 -1px 3px rgba(0,0,0,.3), inset 0 1px 0 #474d53);
    &:after {
        @include sized-sprite($icons, drop);
    }
}


// Article style
.article-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
    .btn-opt {
        background: #fff;
        &:active {
            border: 1px solid #adb3b7;
            @include border-radius(2px);
            background: #f5f5f5;
            @include box-shadow(inset 0 1px 5px rgba(0,0,0,.4));
        }
    }
    .print {
        float: left;
        margin-right: -1px;
        .btn-opt {
           @include border-radius(2px 0 0 2px); 
        }
    }
    .email {
        float: left;
        .btn-opt {
            @include border-radius(0 2px 2px 0);
        }
    }
}
.article-bar__left {
    position: absolute;
    left: 30px;
    top: 10px;
    .add-to {
        .tooltip {
            margin-left: -27px; 
            &:before {
                left: 0;
                margin-left: 25px;
            }
        }
    }
}
.article-bar__right {
    position: absolute;
    right: 30px;
    top: 13px; 
    .icon {
        cursor: pointer;
        vertical-align: middle;
    }
    .btn-open,
    .btn-close,
    .btn-open-feed {
        position: relative;
        float: left;
        &:hover {
            .icon {
                + .tooltip {
                    @include opacity(1);
                }
            }
            
        }
        &:active {
            position: relative;
            top: 1px;
        }
        .tooltip {
            top: 28px;
        }
    }
    .btn-close {
        .tooltip {
            margin-left: -30px;
        }
    }
    .btn-open {
        margin-right: 20px;
        .tooltip {
            width: 140px;
            margin-left: -70px;
        }
    }
    .btn-open-feed {
        margin-right: 20px;
        .tooltip {
            width: 140px;
            margin-left: -70px;
        }
    }
}

.article {
    padding: 63px 40px 10px;
    width: 100%; // for animation
    @include box-sizing(border-box);
    @include transition(all .5s ease-in-out);
    h1 {
        margin: 8px 0 36px;
        font-size: 30px;
        @include b;
        line-height: 1.2;
    }
    p {
        margin-bottom: 21px;
    }
    img {
        float: right;
        margin: 0 0 20px 40px;
        border: 1px solid #1b5c94;
    }
    strong, b {
        @include b;
    }
    i {
        @include i;
    }
}
.article__date {
    font-size: 12px;
    color: #999;
}
.article_mod {
    width: 65%;
    float: left;
    @include transition(width, .5s ease-in-out);
}


.article-nav {
    padding: 25px 0 46px;
    border-top: 1px solid #e7e7e7;
    margin: 0 30px 0 41px;
    @include b;
    @extend %clr;
    @include transition(all .5s ease-in-out);
    strong {
        position: relative;
        font-size: 11px;
        color: #404040;
        text-transform: uppercase;
    }
    ul {
        margin-bottom: 21px;
    }
    a {
        font-size: 12px;
        color: #00659b;
        text-decoration: none;
    }
    .icon_star {
        position: absolute;
        left: -21px;
        top: -2px;
    }
}
.article-nav_wide {
    float: right;
    margin: 75px 0 0;
    padding-right: 15px;
    width: 30%;
    width: 35%;
    border-top: 0;
    @include box-sizing(border-box);
    @include transition(width, .5s ease-in-out);
}
.article-nav__left {
    float: left;
    width: 45%;    
}
.article-nav__right {
    float: right;
    width: 45%;    
}
.article-nav__media { 
    float: right;
    width: 180px;
    div {
        @extend %clr;
        margin-bottom: 18px;
        span {
            color: #404040;
            font-size: 11px;
            @include b;
        }
        a {
            float: right;
            font-size: 12px;
        }
    }
}
.media-link {
    display: block;
    position: relative;
    margin-bottom: 10px;
    img {
        display: block;
    }
    .icon {
        position: absolute;
        top: 5px;
        left: 5px;
    }
    span {
        position: absolute;
        top: 49px;
        left: 64px;
        font-size: 11px;
        color: #404040;
        text-transform: uppercase;
    }
}

.loader {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #666;
    @include b;
    font-size: 12px;
    border-right: 1px solid #e7e7e7;
    //background-image: inline-image("loader.gif", gif);
    img, span {
        vertical-align: middle;
    }
} 
.wrap-set {
    margin: 0 2.2%;
    border-top: 1px solid #e7e7e7;
    @extend %clr;
    &:first-child {
        border: 0;
    }
}
.set-col  { 
    float: left;
    margin: 29px 0;
    padding: 0 10px 0 39px;
    width: 35%; 
    color: #666;
    font-size: 14px;
    @include box-sizing(border-box);
    &:first-child {
        border: 0;
        width: 30%;
    }
    &:nth-child(2) {
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
    }
    a {
        color: #00659b;
        @include b;
        text-decoration: none;
    } 
    p {
        margin-bottom: 15px;
    }
}

.set-col__title {
    display: block;
    margin-bottom: 11px;
    color: #000;
    font-size: 18px;
    @include b;
}
.settings {
    margin-bottom: 33px;
    .check {
        display: block;
        margin-bottom: 16px;
        .icon {
            margin-left: 6px;
        }
        input, span {
            top: 2px; 
        }
    }
   
}
.settings__title {
    display: block;
    margin-bottom: 16px;
    font-size: 10px;
    color: #666;
    @include b;
    text-transform: uppercase;
}
        
.popup-create {
    padding: 40px 5px 0 40px;
    top: 20px;
    margin-top: 0;
    .scroller__container {
        padding-bottom: 40px;
    }
    .drop-list_fixed-height {
        .scroller__container {
            padding-bottom: 0;
        }
    }
    .popup-easy__right {
        margin-right: 35px;
    }
}
.popup-easy__item {
    .tags-wrap {
        margin: -20px 0 20px;
    }
}
.popup-easy_small {
    top: 50%;
    margin-top: -110px;
}
.popup-easy__number {
    color: #666;
    @include b;
    font-size: 48px;
}

.input-extend {
    position: relative;
    .drop-list {
        display: block;
        top: 50px;
        width: 100%;
        .is-selected {
            position: relative;
            @include b;
            &:after {
                content: "";
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -8px;
                @include sized-sprite($icons, check);
            }
            &:hover {
                &:after {
                    content: "";
                    @include sized-sprite($icons, check-h);
                }
            }
        }
    }
}
.player {
    img {
        width: auto;
        height: auto;
    }
}

.l-col-right__cont {
    img {
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 21px;
    }
}
.video {
    margin-bottom: 20px;
}