@import "base";

.is-withsidebar {
    .l-sidebar {
        left: 0 !important;
    }
    .overlay {
        display: none !important
    }
    .l-layout {
        left: 210px;
        right: 0;
    }
    .sidebar-mini {
        left: -50px;
    }
    .l-wall-news.is-active {
        right: 0px;
    }
    .show-wall {
        left: -230px;
    }
}
.is-withwall {
    .l-layout {
        right: 510px;
    }
}
.is-full-screen {
    min-width: 480px;
    @include respond-to(nout) {
        .article, .article-nav {
            width: 50%;
            padding: 63px 50px 10px;
        }
        .article-bar__left {
            left: 50px;
        }
        .article-bar__right {
            right: 50px;
        }
    }
}

// layout
.l-wrapper {
    overflow: hidden;
    left: 0;
    right: 0;
}
.l-layout {
    position: absolute;
    //left: 210px;
    //right: 0;
    z-index: 1;
   // @include respond-to(wide) {
        left: 50px;
        right: 0;
    //}
}
.l-wrapper,
.l-layout,
.l-sidebar, 
.l-col-left,
.l-col-right,
.l-wall-news {
    position: absolute;
    top: 0;
    bottom: 0;
    //@include transition(left, .5s ease-in-out);  
    @include box-sizing(border-box);
}

// Sidebar
.l-sidebar {
    width: 210px;
    z-index: 2;
    background: #2f373d;
    //@include transition(left .2s ease-in-out);
    //@include respond-to(wide) {
        left: -210px;
        //@include transform(translate(-210px,0) 500ms ease-in-out);
        //@include translate(-210px,0);
    //}
    .scroller__bar {
        right: 4px;
        span {
            background: #858f97;
        }
    }
    .scroller__container {
        padding: 0 11px 0 6px;
    }
}
.sidebar-mini {
    position: absolute;
    top: 0;
    //left: -50px;
    bottom: 0;
    z-index: 2000;
    padding-top: 15px;
    width: 50px;
    background: #2f373d;
    //@include transition(left .2s ease-in-out);
    //@include respond-to(wide) {
        left: 210px;
        //@include translate(260px,0);
    //}
    .is-new {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            right: -5px;
            top: -5px;
            width: 10px;
            height: 10px;
            background: #f80;
            border: 2px solid #2f373d;
            @include border-radius(50%);
        }
    }
}

// Left column
.l-col-left {
    left: 0;
    width: 42%;
    .scroller-wrap { 
        position: absolute;
        top: 50px;
        //top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        background: #fff;
        border-top: 1px solid #e7e7e7;
        @include box-sizing(border-box);
    }
    .scroller-wrap_filter-res {
        top: 100px;
    }
    .scroller__container {
        padding: 0 14px 0 0;
    }
    .is-searching {
        padding: 0;
    }
    .scroller-wrap_search {
        top: 78px;
    }
}
// Right column
.l-col-right {
    right: 0;
    width: 58%;
    background: #f2f2f2;
    &:hover {
        //z-index: 3;
    }
    .main {
        height: 94%;
    }
    .content {
        background: #fff;
        border-right: 1px solid #cfcfcf;
        .scroller__container {
            margin-right: 15px;
            border-right: 1px solid #cfcfcf;
        }
    }
}
.content {
    .scroller__bar {
        top: 55px;
    }
}
.l-col-right_width {
    .article {
        float: left;
        width: 65%;
    }
    .article-nav {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        padding: 98px 30px 46px 0;
        width: 35%;
        @include box-sizing(border-box);
    }
}

// Drag
.drag {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 375px;
    span {
        position: absolute;
        top: 0;
        left: 40%;
        bottom: 0;
        z-index: 4;
        width: 9px;
        cursor: ew-resize;
        background: #fff;
        border-left: 1px solid #cfcfcf;
        border-right: 1px solid #cfcfcf;
        &:before,
        &:after { 
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -6px;
            width: 1px;
            height: 12px;
            background: #c0c2c4;
        }
        &:before {
            left: 3px;
        }
        &:after {
            right: 3px;
        }
    }
}


// Sidebar walls
.l-wall-news {
    right: -210px;
    z-index: 3; 
    width: 210px;
    background: #2f373d;
    //@include transition(left, .5s ease-in-out);
    // @include respond-to(wide) {
    //     right: -210px !important;
    // }
    .scroller-wrap {
        height: 96%;
    }
    .scroller__container {
        padding-right: 16px;
    }
    .scroller__bar {
        span {
            background: #858f97;
        }
    }
    .drop-list_extend {
        .scroller-wrap {
            height: auto;
            top: 29px;
            bottom: 49px;
        }
        .scroller__container {
            padding: 0;
            margin-right: 14px;
            border-right: 1px solid #b9b9b9;
        }
    }
    .window {
        .scroller-wrap {
            height: 100%;
        }
        .article-bar {
            .scroller-wrap {
                height: auto;
            }
        }
    }
}


// Other
.overlay,
.toolbar__overlay,
.overlay-popup {
    display: none; 
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: #000;
    @include opacity(.5);
}
.toolbar__overlay {
    background: none;
}
.wrapper {
    overflow: hidden;
}
.wrap {
    @extend %clr;
}

.is-with-shadow,
.news-top__position-top  {
    @include box-shadow(0 4px 6px -4px rgba(0,0,0,0.6));
}
// Baron scroller styles
.scroller-wrap {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.scroller-wrap__overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    @include opacity(.4);
    background: #000;
}
.scroller {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
// .scroller::-webkit-scrollbar {
//     width: 0;
// }
.scroller__bar {
    position: absolute;
    z-index: 1;
    top: 4px;
    bottom: 10px;
    right: 4px;
    width: 6px;
    span {
        position: absolute;
        z-index: 1;
        display: none;
        width: 6px;
        min-height: 50px;
        @include border-radius(5px);
        background: #2f363c;
        @include opacity(.3);
        @include transition(width .2s linear);
        &:hover,
        &:active {
            opacity: .8;
        }

    }
}
.baron  {
    .scroller__bar {
        span {
            display: block;
        }
    }
}
.scroller__container {
    overflow: hidden;
}
// END Baron scroller styles