@import "base";
/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%
}
img,fieldset {border:none;}
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
    display: block;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
*{-webkit-text-size-adjust: none; }
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body{
    position: relative;
    min-width: 1024px;
    width: 100%;
    color: #000;
    @include r;
    font-size: 16px;
    line-height: 1.2;
}

a{
    color:#00919e;
    &:hover{
        text-decoration:none
    }
}

/* ------------------------------------ //END Main styles --------------------------------------- */

/* ------------------------------------- Independent blocks -------------------------------------- */
.logo {
    display: block;
    margin: 15px auto 0;
    @include sized-sprite($icons, logo);
}
.logo-mini {
    display: block;
    margin: 0 auto 31px;
    @include sized-sprite($icons, logo2);
}
.show-nav {
    display: block;
    margin: 0 auto;
    @include sized-sprite($icons, nav);
    &:hover {
        @include sized-sprite($icons, nav-h);
    }
}
// sidebar nav
.nav {
    margin: 15px 0;
    padding: 0 10px;
    border-top: 1px solid #474e53;
    li {
        position: relative;
        margin: 0 -19px 0 -14px;
        // height: 24px;
        // line-height: 24px;
        &:hover {
            background: #394046;;
        }
    }
    .is-active {
        background: #474e53;
        a {
            @include b;
            color: #fff;
        }
    }
    .is-new.is-active {
        &:before {
            left: 5px
        }
    }
    .is-new {
        &:before {
            content: "";
            position: absolute;
            left: 5px;
            top: 50%;
            margin-top: -3px;
            width: 6px;
            height: 6px;
            background: #f80;
            @include border-radius(50%);
        }
    }
    .is-media {
        i {@include sized-sprite($icons, is-media);}
    }
    .is-rate {
        i {@include sized-sprite($icons, is-rate);}
    }
    a {
        display: block;
        padding: 5px 19px;
        font-size: 14px;
        line-height: 1;
        color: #edeef0;
        text-decoration: none;
        cursor: pointer;
        &:active {
            position: relative;
            top: 1px;
        }
    }
    span {
        display: inline-block;
        line-height: 1;
    }
    i {
        display: inline-block;
        margin-left: 5px;
    }
    b {
        float: right;
        font-size: 12px;
        color: #858f97;
        @include b;
    }
}
.nav__title {
    display: block;
    float: none;
    margin: 17px 0 11px 5px;
    @include b;
    font-size: 10px; 
    color: #858f97;
    text-transform: uppercase;
}
/* ---------------------------------- //END Independent blocks ----------------------------------- */

// Toolbar 
.toolbar {
    height: 50px;
    background: #fff;
}
.toolbar_extend {
    .search {
        left: 238px;
        right: 10px;
    }
    .options {
        display: none;
    }
    .options-more {
        display: block;
    }
}
.search {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 140px;
    @include transition(all .5s ease-in-out);
    input[type="submit"] {
        display: none;
    }
    input[type="text"] {
        padding: 0 30px 0 10px;
        height: 30px;
        width: 100%;
        @include r;
        font-size: 16px;
        border: 1px  solid #ccc;
        @include box-sizing(border-box); 
        @include border-radius(2px);
        @include placeholder(#999, sans-serif);
        &:hover {
            border-color: #999;
        }
        &:focus {
            border-color: #4094d4;
        }
    }
    button {
        position: absolute;
        right: 1px;
        top: 1px;
        background: none;
        width: 26px;
        height: 28px;
        text-align: center;
        i { 
            display: inline-block;
            vertical-align: middle;
            @include sized-sprite($icons, drop);
        }
    }
}
.search-list {
    display: none;
    position: absolute;
    top: 31px;
    left: 0;
    z-index: 1000;
    padding: 8px 10px;
    width: 100%;
    border: 1px  solid #b9b9b9;
    @include box-sizing(border-box); 
    @include border-radius(2px);
    @include box-shadow(0 1px 3px rgba(0,0,0,.3));
    background: #fff;
    li {
        padding: 9px 0 10px;
        @extend %clr;
        border-top: 1px solid #dcdcdc;
        &:first-child {
            border-top: #000;
        }
    }
    a {
        color: #00659b;
        font-size: 14px;
        text-decoration: none;
    }
}
.search-list__img {
    float: left;
    margin-right: 8px;
    width: 32px;
    text-align: center;
}
.search-list__text {
    overflow: hidden;
    span {
        display: block;
        color: #999;
        font-size: 12px;
    }
}

.options {
    position: absolute;
    right: 10px;
    top: 10px;
    @include transition(all .5s ease-in-out);
    .icon {
        vertical-align: middle;
    }
}
.lightning {
    position: relative;
    float: left;
    .btn-opt {
        &:hover {
            i {
                position: relative;
                top: -1px;
                @include sized-sprite($icons, lightning-h);
            }
        }
        i {
            display: inline-block;
            vertical-align: middle;
            @include sized-sprite($icons, lightning);
        }
    } 
    .tooltip {
        margin-left: -75px;
        width: 150px;
    }
}
.view { 
    position: relative;
    float: left;
    margin-left: 10px; 
    &:hover {
        .view__icon {
            @include sized-sprite($icons, drop-h);
        }
        button {
            .icon_sort1 {@include sized-sprite($icons, sort1-h);}
            .icon_sort2 {@include sized-sprite($icons, sort2-h);}
            .icon_sort3 {@include sized-sprite($icons, sort3-h);}
        }
        
    }
    .is-active {
        border: 1px solid #a3aaac;
        @include box-shadow(inset 0 2px 5px rgba(0,0,0,.4));
    }
    .tooltip {
        margin-left: -94px;
        width: 115px;
        &:before {
            left: auto;
            right: 0;
            margin-right: 17px;
        }
    }
    i {
        vertical-align: middle;
    }
    .icon {
        position: relative;
        top: -2px;
    }
    .drop-list {
        left: auto;
        right: 0;
        li {
            &:hover {
                .icon_sort1 {@include sized-sprite($icons, sort1-h);}
                .icon_sort2 {@include sized-sprite($icons, sort2-h);}
                .icon_sort3 {@include sized-sprite($icons, sort3-h);}
            }
        }
        .is-selected {
            @include b;
            color: #000;
        }
    }
    .view__1.is-selected {
        .icon { 
            @include sized-sprite($icons, sort1-h);
        }
    }
    .view__2.is-selected {
        .icon {
            @include sized-sprite($icons, sort2-h);
        }
    }
    .view__3.is-selected {
        .icon {
            @include sized-sprite($icons, sort3-h);
        }
    }
}
.view__icon {
    display: inline-block;
    @include sized-sprite($icons, drop);
}

.options-more {
    display: none; 
    position: absolute;
    left: 10px;
    top: 10px;
    @include transition(all .5s ease-in-out);
    .print {
        float: left;
        margin-right: -1px;
        @include border-radius(2px 0 0 2px);
    }
    .email {
        float: left;
        @include border-radius(0 2px 2px 0);
    }
}
.add-to {
    position: relative;
    float: left;
    margin-right: -1px;
    .btn-opt {
        @include border-radius(2px 0 0 2px);
    }
    .is-active {
        border: 1px solid #a3aaac;
        @include box-shadow(inset 0 2px 5px rgba(0,0,0,.4));
    }
    .drop-list {
        .icon {
            margin-right: 10px;
        }
        li {
            &:hover {
                @include r;
            }
        }
    }
    .tooltip {
        margin-left: -75px;
        width: 150px;
    }
}
.download {
    position: relative;
    float: left;
    margin-right: 10px;
    .btn-opt {
        @include border-radius(0 2px 2px 0);
    }
    .tooltip {
        width: 125px;
        margin-left: -62px;
    }
    .is-active {
        border: 1px solid #a3aaac;
        @include box-shadow(inset 0 2px 5px rgba(0,0,0,.4));
    }
    .drop-list {
        i {
            display: inline-block;
            margin: -4px 18px 0 0;
            width: 16px;
            height: 16px;
            background: #999;
            vertical-align: middle;
        }
    } 
}
.print {
    position: relative;
    float: left;
    margin-right: -1px;
    @include border-radius(2px 0 0 2px);
    .tooltip {
        width: 146px;
        margin-left: -73px;
    }
}
.email {
    position: relative;
    float: left;
    @include border-radius(0 2px 2px 0);
    .tooltip {
        width: 146px;
        margin-left: -73px;
    }
}

// END Toolbar 

//icons
.icon {display: inline-block;}
.icon_sort1 {
    @include sized-sprite($icons, sort1);
    &:hover {
        @include sized-sprite($icons, sort1-h);
    }
}
.icon_sort2 {
    @include sized-sprite($icons, sort2);
    &:hover {
        @include sized-sprite($icons, sort2-h);
    }
}
.icon_sort3 {
    @include sized-sprite($icons, sort3);
    &:hover {
        @include sized-sprite($icons, sort3-h);
    }
}
.icon_glass {@include sized-sprite($icons, glass);}
.icon_point {@include sized-sprite($icons, point);}
.icon_all {@include sized-sprite($icons, all);}
.icon_plus {@include sized-sprite($icons, plus);}
.icon_info {@include sized-sprite($icons, info);}
.icon_photo {@include sized-sprite($icons, photo);}
.icon_video {@include sized-sprite($icons, video);}

.icon_close {
    @include sized-sprite($icons, close);
    &:hover {
        @include sized-sprite($icons, close-h);
    }
}
.icon_open {
    @include sized-sprite($icons, open);
    &:hover {
        @include sized-sprite($icons, open-h);
    }
}
.icon_star {
    @include sized-sprite($icons, star);
    vertical-align: middle;
    &:hover {
        @include sized-sprite($icons, star-h);
    }
}
.icon_print {
    @include sized-sprite($icons, print);
    vertical-align: middle;
    &:hover {
        @include sized-sprite($icons, print-h);
    }
}
.icon_downl {
    @include sized-sprite($icons, downl);
    vertical-align: middle;
    &:hover {
        @include sized-sprite($icons, downl-h);
    }
}
.icon_email {
    @include sized-sprite($icons, email);
    vertical-align: middle;
    &:hover {
        @include sized-sprite($icons, email-h);
    }
}


// buttons
.btn-opt { 
    display: block;
    width: 50px;
    height: 30px;
    border: 1px solid #c3ccce;
    @include border-radius(2px);
    background: #ebebeb;
    @include box-sizing(border-box); 
    @include transition(all .2s ease-in-out);
    @include background-image(linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%));
    &:hover {
        border: 1px solid #a3aaac;
        @include box-shadow(0 1px 2px rgba(0,0,0,.15));
        + .tooltip {
            @include opacity(1);
            z-index: 1000;
        }
    }
    &:active {
        @include box-shadow(inset 0 2px 5px rgba(0,0,0,.4));
    }
}


// fade in message
.tooltip {
    @include opacity(0);
    position: absolute;
    left: 50%;
    top: 38px;
    //z-index: 1000;
    padding: 8px 10px;
    @include b;
    color: #edeef0;
    text-align: center;
    font-size: 12px;
    background: #2f373d;
    background: rgba(47,55,61,.8);
    @include border-radius(2px);
    @include box-sizing(border-box);
    @include transition(all .2s ease-in-out);
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: -6px;
        margin-left: -6px; 
        @include opacity(.8);
        @include sized-sprite($icons, arr1);
    }
}

// dropdown list
.drop-list {
    display: none;
    position: absolute;
    left: 0;
    top: 32px;
    z-index: 2000;
    width: 180px;
    background: #fff;
    border: 1px solid #b9b9b9;
    @include border-radius(2px);
    @include box-sizing(border-box);
    @include box-shadow(0 1px 3px rgba(0,0,0,.3));
    li {
        padding: 10px 5px 9px 9px;
        color: #666;
        height: 40px;
        cursor: pointer;
        font-size: 14px;
        border-top: 1px solid #b9b9b9;
        @include user-select;
        @include box-sizing(border-box);
        &:first-child {
            border-top: 0;
        }
        &:hover {
            color: #000;
            @include b;
            background: #f8f8f8;
        }
    }
    .icon {
        margin-right: 17px;
    }
}

// form's elements
.check {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    &:hover {
        span {
            border: 1px solid #4094d4;
        }
        .is-checked {
            i {
                @include sized-sprite($icons, check-h);
            }
        }
    }
    input, span {
        position: absolute;
        left: 0;
        top: 0;
        width: 14px;
        height: 14px;
        @include box-sizing(border-box);
    } 
    span {
        background: #fff;
        border: 1px solid #ccc;
        @include border-radius(2px);
    }
    strong {
        @include r;
    }
    input {
        @include opacity(0);
        z-index: 2;
    }
    i {
        display: none;
        position: absolute; 
        top: -3px;
        right: -3px;
        @include sized-sprite($icons, check);
    }
    .is-checked {
        border-color: #4094d4;
        i {
            display: block;
        }
        &:hover {
            i {
                @include sized-sprite($icons, check-h);
            }
        }
    }
    .is-blocked {
        border: 1px solid #e6e6e6;
        background: #f5f5f5;
        i {
            @include opacity(.3);
        }
    }
    .is-partly-blocked {
        border: 1px solid #e6e6e6;
        background: #f5f5f5;
        i {
            left: 50%;
            top: 50%;
            margin: -1px 0 0 -3px;
            width: 6px;
            height: 3px;
            background: #ccc;
        }
    }
    sub {
        color: #999;
        font-size: 12px;
    }
}
.check_mod {
    width: auto;
    padding-left: 24px;
}

.radio {
    color: #404040;
    font-size: 14px;
    margin-bottom: 14px;
    &:hover {
        i {
            @include sized-sprite($icons, radio-h);
        }
        .is-active {
            @include sized-sprite($icons, radio-act-h);
        }
        .is-blocked {
            @include sized-sprite($icons, radio-b);
        }
    }
    label {
        position: relative;
        padding-left: 24px;
    }
    input,i {
        position: absolute;
        width: 14px;
        height: 14px;
        left: 0;
        top: 50%;
        margin-top: -7px; 
    }
    input {
        opacity: 0;
        z-index: 2;
    }
    i {
        @include sized-sprite($icons, radio);
    }
    .is-active {
        @include sized-sprite($icons, radio-act);
    }
    .is-blocked {
        @include sized-sprite($icons, radio-b);
    }
    .is-active.is-blocked {
        @include sized-sprite($icons, radio-act-b);
    }
    sub {
        color: #999;
        font-size: 12px;
    }
}

.input {
    margin-bottom: 31px;
    text-align: left;
    input, textarea {
        display: block;
        padding: 0 10px;
        height: 30px;
        width: 100%;
        @include r;
        font-size: 16px;
        border: 1px solid #ccc;
        @include box-sizing(border-box); 
        @include border-radius(2px);
        @include placeholder(#999, sans-serif);
        &:hover {
            border-color: #999;
        }
        &:focus {
            border-color: #4094d4;
        }
    }
    .is-blocked {
        border-color: #e6e6e6;
        background: #f5f5f5;
    }
    label {
        display: block;
        margin-bottom: 7px;
        font-size: 10px;
        color: #666;
        @include b;
        text-transform: uppercase;
    }
    textarea {
        padding: 10px;
        height: 140px;
        resize: vertical;
    }
}
.submit-wrap {
    text-align: left;
}
.submit {
    padding: 0 23px;
    height: 28px;
    line-height: 28px;
    color: #404040;
    border: 1px solid #c3ccce;
    @include border-radius(2px);
    background: #ebebeb;
    text-transform: uppercase;
    @include b;
    font-size: 11px;
    @include background-image(linear-gradient(bottom, #e6eaed 0%, #f5f7fa 100%));
    &:hover {
        @include box-shadow(0 1px 2px rgba(0,0,0,.15));
    }
    &:active {
        @include box-shadow(inset 0 2px 5px rgba(0,0,0,.4));
    }
}

.popup {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    img {
        height: 100%;
        width: auto;
    }
}

.popup__download {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 15px 0 20px;
    height: 50px;
    line-height: 50px;
    @include b;
    font-size: 14px;
    text-decoration: none;
    border-left: 1px solid #e7e7e7;
    overflow: hidden;
    &:hover {
        i {
            @include sized-sprite($icons, downl-h);
        }
    }
    i {
        display: inline-block;
        margin: -7px 9px 0 0;
        vertical-align: middle;
        @include sized-sprite($icons, downl);
    }
}

.popup-send {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2000;
    margin: -190px 0 0 -350px;
    padding: 40px;
    width: 620px;
    @include border-radius(3px);
    background: #fff url(../i/popup-border.png) 0 0 repeat-x;
}
.popup__left {
    float: left;
    width: 185px;
    text-align: left;
    color: #666;
    font-size: 14px;
    p {
        margin-bottom: 25px;
    }
}
.popup__right {
    float: right;
    width: 380px;
}
.popup__title {
    display: block;
    margin: 3px 0 12px;
    font-size: 18px;
    @include b;
    color: #000;
}
.popup-close {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;
    z-index: 8040;
    @include sized-sprite($icons, close2);
    &:hover {
        @include sized-sprite($icons, close2-h);
    }
}