@import "base";
// news
.news-top {
    border-bottom: 1px solid #e7e7e7;
    div {
        padding: 4px 10px;
        width: 100%;
        background: #f3f3f3;
        border-right: 1px solid #e7e7e7;
        @include box-sizing(border-box);
    }
    span, .check {
        vertical-align: middle;
    }
}
.news-top__fixed {
    right: 17px;
    left: 0;
}
.news-top__position-top {
    position: absolute;
    z-index: 2;
    top: 0 !important;
}
.news-top__position-bottom {
    position: static;
}
.news-top__date {
    color: #404040;
    font-size: 10px;
    @include b;
    text-transform: uppercase;
}
.news {
    border-right: 1px solid #e7e7e7;
    li {
        padding: 17px 5px 19px 10px;
        @extend %clr;
        border-bottom: 1px solid #e7e7e7;
    }
    .check {
        float: left;
        margin-right: 16px;
    }
    .is-important {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            right: 5px;
            top: 5px;
            @include sized-sprite($icons, lightning2);
        }
        a {
            color: #f15c30;
        }
    }
    .is-selected {
        background: #fffef0;
    }
    .is-read {
        color: #999;
        a {
            color: #999;
        }
    }
}
.news_headers-only {
    .news__title {
        display: inline;
    }
    .news__meta {
        position: relative;
        top: -2px;
    }
}
.news__cont {
    overflow: hidden;
    color: #333;
    font-size: 12px;
    p {
        margin-bottom: 5px;
    }
}
.news__title {
    position: relative;
    top: -2px;
    line-height: 1;
    margin-bottom: 4px;
    a {
        color: #00659b;
        @include b;
        font-size: 16px;
        text-decoration: none;
    }
}
.news__meta {
    color: #999;
    font-size: 12px;
}
.news__date {
    @include b;
}

.main-head {
    position: relative;
    margin-top: 30px;
    color: #000;
    @extend %clr;
    span {
        display: block;
        margin-bottom: -3px;
        font-size: 10px;
        text-transform: uppercase;
    }
}
.main-head__title {
    margin-bottom: 25px;
    @include b;
    font-size: 30px;
}
.main {
    background: #f2f2f2;
    .scroller__container {
        padding: 0 30px;    
    }
    .scroller__bar {
        right: 13px;
    }
}
.set-link {
    position: absolute;
    top: 29px;
    right: 30px;
    @include sized-sprite($icons, set);
}
.info-item {
    margin-bottom: 30px;
    border: 1px solid #c0c2c4;
    @include box-sizing(border-box);
    background: #fff;
    overflow: hidden;
    img {
        display: block;
        height: auto;
        width: 100%;
    }
}
.info-item__title {
    margin: 0 10px 15px;
    padding: 12px 0;
    @extend %clr;
    @include b;
    border-bottom: 1px solid #e7e7e7;
    span {
        float: left;
        font-size: 10px;
        text-transform: uppercase;
    }
    a {
        float: right;
        font-size: 12px;
        color: #00659b;
        text-decoration: none;
    }
}
.info-item__cont {
    padding: 0 20px;
}
.trand {
    padding-top: 12px;
    li {
        margin-bottom: 25px;
    }
}
.trand__title {
    display: block;
    margin-bottom: 7px;
    color: #404040;
    font-size: 14px;
}
.trand__rate {
    position: relative;
    display: block;
    height: 3px;
    background: #f2f2f2;
    span {
        position: absolute;
        left: 0;
        top: 0;
        height: 3px;
        background: #00659b;
    }
}
