@import "base";
// layout
.l-wrapper {
    overflow: hidden;
    left: 0;
    right: 0;
}
.l-layout {
    position: absolute;
    left: 210px;
    right: 0;
    @include respond-to(wide) {
        left: 50px;
    }
}
.l-wrapper,
.l-layout,
.l-sidebar, 
.l-col-left,
.l-col-right,
.l-wall-news {
    position: absolute;
    top: 0;
    bottom: 0;
    @include transition(all .5s ease-in-out);
    @include box-sizing(border-box);
}
.l-sidebar {
    width: 210px;
    z-index: 2000;
    background: #2f373d;
    @include respond-to(wide) {
        left: -210px;
    }
    .scroller__bar {
        right: 4px;
        span {
            background: #858f97;
        }
    }
    .scroller__container {
        padding: 0 11px;
    }
}
.sidebar-mini {
    position: absolute;
    top: 0;
    left: -50px;
    bottom: 0;
    z-index: 2000;
    padding-top: 15px;
    width: 50px;
    background: #2f373d;
    @include transition(all .5s ease-in-out);
    @include respond-to(wide) {
        left: 210px;
    }
    .is-new {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            right: -5px;
            top: -5px;
            width: 10px;
            height: 10px;
            background: #f80;
            border: 2px solid #2f373d;
            @include border-radius(50%);
        }
    }
}
.l-col-left {
    left: 0;
    z-index: 2;
    width: 42%;
    border-right: 1px solid #cfcfcf;
    @include respond-to(wide) {
        
    }
    .scroller-wrap { 
        position: absolute;
        top: 78px;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        border-top: 1px solid #e7e7e7;
        @include box-sizing(border-box);
        @include respond-to(wide) {
            // left: 50px;
        }
    }
    .scroller__container {
        padding: 0 17px 0 0;
    }
}
.l-col-right {
    right: 0;
    width: 58%;
    background: #f2f2f2;
}
.l-wall-news {
    right: -210px;
    z-index: 3;
    width: 210px;
    background: #2f373d;
    @include transition(translate .5s ease-in-out);
    .scroller-wrap {
        height: 96%;
    }
    .scroller__container {
        padding-right: 16px;
    }
    .scroller__bar {
        span {
            background: #858f97;
        }
    }
}
.l-wall-news.is-active {
    right: 0;
}
.overlay {
    display: none; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: #000;
    @include opacity(.5);
}
.wrapper {
    overflow: hidden;
}
.wrap {
    @extend %clr;
}


// Baron scroller styles
.scroller-wrap {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.scroller {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.scroller::-webkit-scrollbar {
    width: 0;
}
.scroller__bar {
    position: absolute;
    z-index: 1;
    top: 10px;
    bottom: 10px;
    right: 5px;
    width: 6px;
    span {
        position: absolute;
        z-index: 1;
        display: none;
        width: 6px;
        min-height: 50px;
        @include border-radius(5px);
        background: #2f363c;
        @include opacity(.3);
        @include transition(width .2s linear);
        &:hover {
            opacity: .8;
        }
    }
}
.baron  {
    .scroller__bar {
        span {
            display: block;
        }
    }
}
.scroller__container {
    overflow: hidden;
}
// END Baron scroller styles