@import "base";
// layout
.l-layout {
    //position: relative;
    //@extend %height;
    @extend %clr;
}  
.l-sidebar, 
.l-col-left,
.l-col-right {
    position: absolute;
    top: 0;
    bottom: 0;
    //@extend %height; 
    @include box-sizing(border-box);
}
.l-sidebar {
    //padding: 20px 0;
    width: 210px;
    z-index: 3;
    background: #2f373d;
    @include respond-to(wide) {
        padding: 14px 0;
        width: 50px;
    }
    .scroller__bar {
        right: 4px;
        span {
            background: #fff;
        }
    }
    .scroller__container {
        padding: 0 11px;
    }
}
.l-col-left {
    left: 0;
    z-index: 2;
    width: 52%;
    padding-left: 210px;
    border-right: 1px solid #cfcfcf;
    @include respond-to(wide) {
        padding-left: 50px;
    }
    .scroller-wrap {
        position: absolute;
        top: 78px;
        bottom: 0;
        left: 210px;
        right: 0;
        height: auto;
        @include box-sizing(border-box);
        @include respond-to(wide) {
            left: 50px;
        }
    }
    .scroller__container {
        padding: 0 17px 0 0;
    }
}
.l-col-right {
    right: 0;
    width: 48%;
    background: #f2f2f2;
}
.wrapper {
    overflow: hidden;
}
.wrap {
    @extend %clr;
}


// Baron scroller styles
.scroller-wrap {
    position: relative;
    overflow: hidden;
    height: 90%;
}
.scroller {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.scroller::-webkit-scrollbar {
    width: 0;
}
.scroller__bar {
    position: absolute;
    z-index: 1;
    top: 10px;
    bottom: 10px;
    right: 5px;
    width: 6px;
    span {
        position: absolute;
        z-index: 1;
        display: none;
        width: 6px;
        min-height: 50px;
        @include border-radius(5px);
        background: #2f363c;
        @include opacity(.3);
        @include transition(width .2s linear);
        &:hover {
            opacity: .8;
        }
    }
}
.baron  {
    .scroller__bar {
        span {
            display: block;
        }
    }
}
.scroller__container {
    overflow: hidden;
}
// END Baron scroller styles